.breadcrumbs {
    display: flex;
    column-gap: 2.4rem;
    margin-bottom: 5rem;

    @include small-tablet {
        column-gap: 5.8rem;
        margin-bottom: 4rem;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-right: -2.4rem;
        padding-right: 2.4rem;

        @include hide-scrollbar();
    }

    &__select {
        position: relative;
    }


    &__select-btn.active {
        &::after {
            transform: rotate(180deg);
            transition: transform 0.4s ease;
        }
    }

    &__select-lists {
        position: absolute;
        z-index: 2;
        top: calc(100% + 0.8rem);
        right: 0;
        padding: 1.3rem 0;
        width: 100%;
        min-width: 20rem;
        background-color: #ffffff;
        border: 0.1px solid #a1a2a9;

        li {
            padding: 0.7rem 2rem;
            width: 100%;
            &:hover {
                transition: color 0.3s ease;
                color: #ffffff;
                background-color: #a1a2a9;
            }
        }
    }

    

    &__link {
        position: relative;
        color: $grayTxt;

        &_chapter {
            display: flex;
            align-items: center;

            &::after {
                content: '';
                flex: 0 0 2.4rem;
                width: 2.4rem;
                height: 2.4rem;
                background-image: url('./assets/images/icons/arr-gray.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0.2rem;
            right: -1.2rem;
            height: 2rem;
            width: 1px;
            background-color: $grayTxt;
            transform: translateX(100%);

            @include small-tablet {
                height: 100%;
                right: -3rem;
            }
        }
    }

    &__txt {
    }
}
