.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $gray;
  padding: 1.2rem;

  &__promotion {
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
    padding: 0.8rem 1.2rem;
    display: block;
    width: fit-content;
    background-color: $black;
    font-size: 1.6rem;
    color: $white;
  }

  &__image {
    margin-top: 11.2rem;
    padding: 0 1.8rem;
    margin-bottom: 6rem;

    @include sizes(100%, 29rem);

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 1.2rem;
    background-color: $white;
  }

  &__info-subtitle {
    display: block;
    margin-bottom: 0.4rem;
  }

  &__info-title {
    @include clamp-text(1);
    margin-bottom: 1.2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__info-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.2rem;
    border-top: 0.1rem solid $grayTxt;

    &-empty {
      color: $grayTxt;
    }
  }

  &__info-price-text {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;

    sup {
      display: block;
      font-size: 2rem;
      margin-top: -0.5rem;    }
  }

  &__info-button {
    padding: 1.6rem;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      @include sizes(2.4rem, 2.4rem);
    }
  }
}