.dropdown {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    ._is-filled {
        .select__value {
            color: $black;
        }
    }

    &_field {
        .select {
            &__content {
                display: none;
            }
            &__value {
                padding: 2rem;
                justify-content: space-between;
                height: 6rem;
                border: 1px solid $grayTxt;
                background-color: $white;
                font-size: 1.6rem;
                color: $grayTxt;

                @media (max-width: 48em) {
                    padding: 3rem 4rem;

                    height: 10rem;

                    font-size: 2.8rem;

                    &._has-label::before {
                        max-width: 52.4rem;
                    }
                }
            }
            &__options {
                @media (max-width: 48em) {
                    top: calc(100% + 0.8rem);

                    padding: 2.6rem 0;
                }
            }
            &__option {
                padding: 1.4rem 4rem;
            }
        }
        ._is-filled {
            .select__content {
                display: inline-block;
            }
            .select__value::before {
                display: none;
            }
        }
    }

    @media (max-width: 48em) {
        row-gap: 1.6rem;
    }

    // .dropdown__label

    &__label {
        color: $grayTxt;
    }
}

.select {
    position: relative;

    // .select__body

    &__body {
        position: relative;
    }

    // .select__title

    &__title {
        position: relative;
        z-index: 3;
        width: 100%;
        cursor: pointer;
    }

    // .select__value

    &__value {
        font-weight: 700;
        font-size: 2rem;
        line-height: 140%;
        display: flex;
        align-items: center;

        @include small-tablet {
            font-weight: 400;
            font-size: 3rem;
            line-height: 113%;
        }

        > * {
            flex: 1 1 auto;
        }

        &::after {
            content: '';
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 2.4rem;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(./assets/images/icons/arr-down-black.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 0.3s ease;

            @media (max-width: 48em) {
                flex: 0 0 3.5rem;
                width: 3.5rem;
                height: 3.5rem;
            }
        }
        &._has-label {
            &::before {
                content: attr(data-sel-label);
                transition: color 0.3s ease;
            }
        }
        &._has-label::before,
        .select__content {
            max-width: 31.4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        @media (max-width: 48em) {
            padding: 2.4rem 3.2rem;
            gap: 4rem;
            height: 8.8rem;
            &::after {
                flex: 0 0 3.2rem;
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    // .select__content

    &__content {
        margin-right: auto;
        // hide / show selected value
        &:not(.dropdown_field &, ._is-filled &, .account-page &) {
            display: none;
        }
    }

    // .select__text

    &__text {
        flex: 1 1 auto;
    }

    // .select__input

    &__input {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    // .select__options

    &__options {
        position: absolute;
        z-index: 2;
        top: calc(100% + 0.8rem);
        right: 0;
        padding: 1.3rem 0;
        width: 100%;
        min-width: 20rem;
        background-color: $white;
        border: 0.1px solid #a1a2a9;

        @include small-tablet {
            left: 0;
            right: auto;
            min-width: 32rem;
            padding: 0;
            top: calc(100% + 3rem);
        }
    }

    // .select__scroll

    &__scroll {
        // // maximum height
        max-height: 19rem;

        // // scrollbar styles
        &.simplebar-scrollable-y {
            .simplebar-track.simplebar-vertical {
                right: 1.2rem;
                width: 0.4rem;
                border-radius: 0.8rem;
                background-color: #e4e7ee;
            }
            .simplebar-scrollbar {
                min-height: 3.2rem;
                border-radius: 0.8rem;
                background-color: #a2adc1;
            }
        }
    }

    // .select__option
    &__option {
        padding: 0.7rem 2rem;
        width: 100%;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;

        &._is-selected {
            color: $white;
            background-color: #a1a2a9;
        }
        @media (any-hover: hover) {
            &:hover {
                &:not(&.select__subtitle) {
                    cursor: pointer;
                }
            }
        }
        @media (max-width: 48em) {
            padding: 2.4rem 0;
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 121%;
        }
    }

    // .select__group

    &__group {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    // .select__asset

    &__asset {
    }

    // .select__text

    &__text {
    }

    // .select__hint

    &__hint {
    }

    // .select__subtitle

    &__subtitle {
        cursor: text;
    }

    // select state
    &._is-opened {
        z-index: 5;
        .select__value::after {
            transform: rotate(-180deg);
        }
    }
    &._has-error {
        &:not(&._is-filled, &._is-opened) {
            .select__value._select-label {
                &::before {
                    color: $grayTxt;
                }
            }
        }
    }
}

// list
._select-list {
    cursor: pointer;
}
