.wrapper::before {
    content: '';
    position: fixed;
    z-index: 149;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0);
    backdrop-filter: blur(0);
    pointer-events: none;
    transition:
        background-color 0.8s ease,
        backdrop-filter 0.5s ease;
    .modal-show & {
        background-color: rgba(23, 23, 23, 0.3);
        backdrop-filter: blur(1.6rem);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3rem;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0.8s ease 0s;
    &.modal_show {
        z-index: 150;
        visibility: visible;
        overflow: auto;
        pointer-events: auto;
        .modal__content {
            visibility: visible;
            transform: scale(1);
        }
    }

    // .modal__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        width: 100%;
        min-height: 100%;
    }

    // .modal__content

    &__content {
        position: relative;
        max-width: 59.4rem;
        width: 100%;
        visibility: hidden;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        .lock & {
            visibility: visible;
        }
    }

    // .modal__body

    &__body {
        position: relative;
        padding: 2.4rem 2.4rem 28.5rem 6rem;
        width: 100%;
        background-color: $gray;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./assets/images/bg/22477.webp');
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: polygon(0 80%, 100% 62%, 100% 100%, 0 100%);
        }
    }

    // .modal__close

    &__close {
        margin-bottom: 1.2rem;
        align-self: flex-end;
        height: 2.4rem;
        width: 2.4rem;
        img {
            object-fit: contain;
        }
    }
}

// --------------------------------------------------------------------------

.request-sent-modal {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin-bottom: 2rem;
        font-size: 5rem;
        line-height: 5.6rem;
    }

    &__text {
        margin-bottom: 3rem;
    }

    &__btn {
        align-self: flex-start;
    }
}
