.analogs {
    &__pagination {
        @include small-tablet {
            margin-top: -4rem;
            position: relative;
            z-index: 5;
        }
    }

    &__no {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
        position: relative;
        background-color: $gray;
        font-size: 3.6rem;
        font-weight: 700;
        height: 16.3rem;

        span {
            @media (max-width: 48em) {
                width: 45.8rem;
            }
        }
        @media (max-width: 48em) {
            height: 32.6rem;
            font-size: 4rem;
            text-align: center;
            line-height: 7rem;
        }
        &::before {
            content: "";
            position: absolute;
            width: 13.8rem;
            height: 100%;
            z-index: 1;
            right: 0;
            top: 0;
            background-color: #000000;
            clip-path: polygon(0 100%, 100% 100%, 100% 0);
        }

        &::after {
            content: "";
            position: absolute;
            width: 13.8rem;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: #000000;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }
}
