.brands {
    &__heading {
        margin-bottom: 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include small-tablet {
            margin-bottom: 6.4rem;
        }
    }

    &__navigation {
        display: flex;
        gap: 2.7rem;

        button {
            @include hover {
                background-color: $black;

                svg path {
                    fill: $white;
                }
            }
        }
    }

    &__slider {
        margin-bottom: 2.8rem;

        @include small-tablet {
            margin-bottom: 1.6rem;
        }

        @include small-tablet {
            overflow: visible !important;

            .swiper-slide {
                width: 34.4rem !important;
            }
        }
    }

    &__card {
        min-height: 36rem;
        background-color: $gray;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        @include small-tablet {
            min-height: 30.4rem;
        }

        @include hover {
            .brands__card-wave {
                &.--55 {
                    height: 8.8rem;
                }

                &.--60 {
                    height: 7.7rem;
                }

                &.--66 {
                    height: 5.5rem;
                }

                &.--72 {
                    height: 6rem;
                }

                &.--77 {
                    height: 5.5rem;
                }

                &.--82 {
                    height: 9.4rem;
                }

                &.--88 {
                    height: 7.7rem;
                }

                &.--94 {
                    height: 6rem;
                }
            }
        }

        &-logo {
            @include sizes(24rem, 24rem);
            padding-top: 4rem;
            padding-left: 4rem;

            @include small-tablet {
                padding-top: 3.2rem;
                padding-left: 3.2rem;
                @include sizes(20rem, 20rem);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-waves {
            padding: 0 1.2rem;
            display: flex;
            align-items: flex-end;
            margin-top: auto;
            justify-content: space-between;
        }

        &-wave {
            width: 0.2rem;
            background-color: $grayTxt;
            transition: 0.5s height ease-out;

            &.--55 {
                height: 5.5rem;
            }

            &.--60 {
                height: 6rem;
            }

            &.--66 {
                height: 6.6rem;
            }

            &.--72 {
                height: 7.2rem;
            }

            &.--77 {
                height: 7.7rem;
            }

            &.--82 {
                height: 8.2rem;
            }

            &.--88 {
                height: 8.8rem;
            }

            &.--94 {
                height: 9.4rem;
            }
        }
    }

    &__companies {
        &-slider {
            display: flex;
            justify-content: center;
            padding: 3rem 0;
            background-color: $gray;
            width: 100%;
            position: relative;

            @include small-tablet {
                overflow: visible !important;
                width: calc(100% + 4.8rem);
                margin-left: -2.4rem;
            }

            .swiper {
                max-width: 129.3rem;
                width: 100%;

                @include small-tablet {
                    max-width: 100%;
                }
            }

            button[type='button'] {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &.arrow-btn_prev {
                    left: 4.5rem;
                }

                &.arrow-btn_next {
                    right: 7.4rem;
                }
            }
        }

        &-logo {
            display: block;
            width: fit-content;
            position: relative;

            @include sizes(19.1rem, 6.5rem);

            @include small-tablet {
                @include sizes(16rem, 5.4rem);
            }

            &::after {
                @include pseudo {
                    right: -4.2rem;
                    border: 0.1rem solid $grayTxt;
                    height: 100%;
                    top: 0;

                    @include small-tablet {
                        right: -2rem;
                    }
                }
            }

            img {
                height: 100%;
            }
        }
    }
}
