.categories {
    &__title {
        margin-bottom: 5rem;

        @include small-tablet {
            margin-bottom: 4rem;
        }

        .home-page & {
            @media (max-width: 48em) {
                margin-bottom: 6rem;
            }
        }
    }


   

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem 2.8rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            width: 100%;
        }

        li {
            display: grid;
            min-height: 77.8rem;

            @include small-tablet {
                min-height: initial;
                display: flex;
            }

            .home-page & {
                @media (min-width: 48em) {
                    &:nth-child(3) {
                        

                        .categories__card-image {
                          
                            margin-top: auto;
                        }
                    }
                    &:nth-child(5) {
                        grid-column: 3 / 4;

                        img {
                            position: absolute;
                            bottom: -1rem;
                            right: -1rem;
                            width: auto;
                            height: 124%;
                        }
                    }
                    &:nth-child(4) {
                        grid-column: span 2;

                        .categories__card-image {
                            height: 79rem;
                            margin-top: auto;

                            img {
                                position: absolute;
                                left: 50%;
                                bottom: -9rem;
                                width: auto;
                                height: 90%;
                                text-align: center;
                                transform: translateX(-50%);
                            }
                        }
                    }
                    &:not(:first-child) {
                        min-height: 24.6rem;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        &-group {
            grid-row: span 1;
            grid-column: span 2;
            gap: 2rem;

            @include small-tablet {
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
            }
        }

        .home-page & {
            @media (max-width: 48em) {
                display: flex;
                flex-direction: column-reverse;
                row-gap: 3rem;

                li {
                    min-height: auto;
                }

                .categories__card-title {
                    white-space: nowrap;
                }
                .categories__card-text {
                    padding: 0;
                    margin-bottom: 0;
                    flex-direction: row;
                    align-items: center;
                }
                .categories__card {
                    padding: 3rem 4rem;
                }
            }
        }
    }

    &__card {
        background-color: $gray;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 2;
        overflow: hidden;

        @include small-tablet {
            padding: 3rem 4rem;
            width: 100%;
        }

        .home-page & {
            @media (min-width: 48em) {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(238, 238, 238);
                    opacity: 0.5;
                    transition: opacity 0.3s ease;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    &::after {
                        opacity: 0;
                    }
                }
            }
        }

        &.--large {
            p {
                text-transform: uppercase;
            }

            @media (min-width: 48em) {
                padding-top: 2.6rem;
                padding-left: 2.6rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            text-transform: uppercase;
            padding: 2.4rem;
            margin-bottom: 2rem;
            width: fit-content;

            @include small-tablet {
                flex-direction: row;
                align-items: center;
                padding: 0;
                margin-bottom: 0;
                width: 100%;
                gap: 1rem;
            }

            &:not(.home-page &) {
                @include hover {
                    .categories__card-title {
                        &::after {
                            transform: translateX(0);
                        }
                    }
                }
            }

            .home-page & {
                width: auto;
            }
        }

        &-subtitle {
            @include small-tablet {
                font-weight: 600;
                font-size: 3.2rem;
                text-transform: uppercase;
            }
        }

        &-title {
            &::after {
                flex: 0 0 3.4rem;
                background-size: cover;
                background-position: center;
               
                @include small-tablet {
                    flex: 0 0 4.8rem;
                    width: 4.8rem;
                    height: 4.8rem;
                    
                }
            }

            @include small-tablet {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 600;
                font-size: 3.2rem;
                text-transform: uppercase;
                margin: 0;
            }

            img {
                @include sizes(2.4rem, 2.4rem);
            }
        }

        &-image {
            position: absolute;
            inset: 0;
            z-index: -1;

            @include small-tablet {
                display: none;
            }

            img {
                height: 100%;
                object-fit: cover;
            }

            .home-page & {
                @media (max-width: 48em) {
                    display: none;
                }
            }
        }
    }

    &__column-one {
        .categories__card {
            &-image {
                width: 27rem;
                height: 48rem;
                inset: initial;
                right: 7.5rem;
                bottom: 6.5rem;
            }
        }
    }

    &__card--top {
        
        .categories__card-image {
            width: 68.2rem;
            height: 13.486rem;
            left: 8.372rem;
            bottom: 0.814rem;
            margin-top: auto;
        }
    }

    &__cards-group-inner {
        display: flex;
        justify-content: space-between;
        @media (max-width: 48em) {
            flex-direction: column;
            row-gap: 3rem;
        }
    }

    &__card-center {
        min-height: 24.6rem;
        width: 41.5rem;
        @media (max-width: 48em) {
            min-height: auto;
            width: 100%;
        }
        .categories__card-image {
            width: 20.5rem;
            height: 14.9rem;
            inset: initial;
            position: absolute;
            right: 0;
            bottom: 1.4rem;
        }
    }

    &__card-bottom {
        .categories__card-image {
            width: 65.3rem;
            height: 17.6rem;
            inset: initial;
            position: absolute;
            left: 12rem;
            bottom: 0rem;
        }
    }

    &__column-two {
        .categories__card {

        }
        .categories__card-image {
            width: 31.7rem;
            height: 53.8rem;
            inset: initial;
            position: absolute;
            left: 4.9rem;
            bottom: 4.9rem;
        }
    }

    &__card-title {
        width: 100%;
        width: fit-content;
        &::after {
            right: 3rem;
            position: absolute;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        @media (max-width: 48em) {
           display: none;
        }
    }

    &__wrap-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85rem;
    }


    &__box {
        display: flex;
        flex-direction: column;
        padding: 2.6rem;
        background-color:rgb(238, 238, 238);
        width: 41.5rem;
        &:hover {
            .categories__box-image {
                transition: opacity 0.4s;
                opacity: 1;
            }
        }
        &-button {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 3.3rem;
            text-transform: uppercase;
            width: fit-content;
            span {
                display: block;
            }

            p {
                display: block;
                position: relative;
                padding-right: 2.8rem;
                width: fit-content;
                &::before {
                    position: absolute;
                    content:'';
                    width: 2.4rem;
                    height: 2.4rem;
                    background-image: url(../assets/images/icons/arr-sm.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    right: 0;
                    top: 0.3rem;
                }
            }
        }
        &-image {
            opacity: 0.4;
            transition: opacity 0.4s;
        }
    }

    &__box--one {
        padding-bottom: 6rem;
        .categories__box-image  {
            width: 19rem;
            height: 33.7rem;

            margin: 0 auto;
            margin-top: auto;
        }
    }

    &__box--two {
        margin-bottom: 2rem;
        .categories__box-image  {
            width: 19.6rem;
            height: 14.9rem;
            margin-left: auto;
        }
    }

    &__box--medium {
        height: 24.6rem;
    }

    &__box--top {
        height: 51.2rem;
        margin-bottom: 2rem;

        .categories__box-image  {
            margin: 0 auto;
            margin-top: auto;
        }
    }

    &__box--long {
        width: 100%;
        height: 24.8rem;
        margin-bottom: 2rem;
    }

    &__box--average {
        height: 51.2rem;
    }

    &__box--three {
        .categories__box-image  {
           
            width: 36.3rem;
            height: 14.9rem;
            margin: 0 auto;
            margin-top: 2.4rem;
        }
    }

    &__box--four {
        .categories__box-image  {
           margin-top: 2.4rem;
           margin-left: auto;
           width: 20.9rem;
           height: 14.9rem;
        }
    }

    &__box--five {
        .categories__box-image  {
           
            margin-left: auto;
            width: 19.6rem;
            height: 14.9rem;
         }
    }

    &__box--six {
        .categories__box-image  {
            width: 68.2rem;
            height: 13.4rem;
            margin: 0 auto;
         }
    }

    &__box--seven {
        .categories__box-image  {
            width: 21.7rem;
            height: 73rem;
            margin: 0 auto;
            margin-top: 2.6rem;
         }
    }

    &__box--eight {
        .categories__box-image  {
            width: 23.7rem;
            height: 40.3rem;
            margin: 0 auto;
            margin-top: 2.6rem;
         }
    }

    &__box--nine {
        .categories__box-image  {
            width: 21.7rem;
            height: 37rem;
            margin: 0 auto;
            margin-top: 0.7rem;
         }
    }

    &__box--four {
        margin-bottom: 2rem;
    }

    &__box--eleven {
        margin-bottom: 2rem;
    }

    &__box--twelve {
        .categories__box-image  {
            width: 19.6rem;
            height: 14.9rem;
            margin-top: 2.4rem;
            margin-left: auto;
         }
    }

    &__box--thirteen {
        margin-bottom: 2rem;
        .categories__box-image  {
            width: 12.4rem;
            height: 14.8rem;
            position: relative;
            top: -7rem;
            margin-left: auto;
         }
    }

    &__wrap-mob {
        display: none;
        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
        }
    }

    &__box-mob {
        @media (max-width: 48em) {
            padding: 3rem 4rem;
            background-color: rgb(239, 239, 239);
            margin-bottom: 3.2rem;
            span {
                font-size: 3.2rem;
                font-weight: 600;
                position: relative;
                display: block;
                width: 100%;
                &::before {
                    position: absolute;
                    content:'';
                    height: 3rem;
                    width: 3rem;
                    right: 0;
                    top: 0;
                    background-image: url(../assets/images/icons/arr-sm.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }


    
}
