.categories {
    &__title {
        margin-bottom: 5rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem 2.8rem;

        li {
            display: grid;
            min-height: 51rem;
        }

        &-group {
            grid-row: span 1;
            grid-column: span 2;
            gap: 2rem;
        }
    }

    &__card {
        background-color: $gray;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 2;

        &.--large {
            padding-top: 2.6rem;
            padding-left: 2.6rem;

            p {
                text-transform: uppercase;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            text-transform: uppercase;
            padding: 2.4rem;
            margin-bottom: 2rem;
            width: fit-content;

            @include hover {
                .categories__card-title {
                    &::after {
                        transform: translateX(0);
                    }
                }
            }
        }

        &-title {
            &::after{
                flex: 0 0 3.4rem;
                background-size: cover;
                background-position: center;
            }

            img {
                @include sizes(2.4rem, 2.4rem);
            }
        }

        &-image {
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
