.company {
    position: relative;
    z-index: 2;

    @include small-tablet {
        display: none;
    }

    &::after {
        @include pseudo {
            width: 100%;
            height: calc(100% - 7rem);
            bottom: 0;
            background-color: $gray;
            z-index: -1;
        }
    }

    &__title {
        max-width: 35.8rem;
        width: 100%;
        padding-top: 4rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        min-height: 61.4rem;
    }

    &__image {
        @include sizes(84.5rem, 100%);
        margin-left: 5rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__description {
        margin-top: auto;
        max-width: 40.9rem;
        width: 100%;
        padding-bottom: 4rem;
    }
}
