.cooperation {
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 2.6rem;

        @include small-tablet {
            flex-direction: column;
            gap: 3.2rem;
        }
    }

    &__title {
        margin-bottom: 11.2rem;

        @include small-tablet {
            margin-bottom: 6.4rem;
        }
    }

    &__subtext {
        margin-bottom: 2rem;

        @include small-tablet {
            margin-bottom: 4.8rem;
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 94%;
        }
    }

    &__text {
        &-block {
            display: flex;
            gap: 2rem;

            @include small-tablet {
                flex-direction: column;
                gap: 3.2rem;
            }

            .cooperation__description {
                flex: 1 1 50%;

                @include small-tablet {
                    flex: 1 1 100%;
                }
            }
        }
    }

    &__block {
        padding: 6rem;
        background-color: $gray;
        flex: 1 1 50%;

        @include small-tablet {
            padding: 3.2rem 2.4rem;
            flex: 1 1 100%;
        }

        &:last-child {
            padding: 0;
        }

        &-top {
            padding: 5.5rem 6rem;
            display: flex;
            align-items: flex-start;
            gap: 7.6rem;
            margin-bottom: 7rem;

            @include small-tablet {
                padding: 3.2rem 2.4rem 5.4rem 2.4rem;
                gap: 4.8rem;
                flex-direction: column;
                margin-bottom: 0;
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                @include small-tablet {
                    flex-direction: column;
                    gap: 1.6rem;
                }
            }

            &-item {
                padding-left: 1.5rem;
                position: relative;

                @include small-tablet {
                    padding-left: 3rem;
                }

                &::after {
                    @include pseudo {
                        left: 0;
                        top: 0.8rem;
                        background: url('./assets/images/icons/markup.svg') no-repeat center;
                        background-size: cover;
                        @include sizes(0.8rem, 0.8rem);

                        @include small-tablet {
                            left: 0;
                            @include sizes(1.4rem, 1.4rem);
                        }
                    }
                }
            }
        }

        &-title {
            max-width: 30.2rem;
            width: 100%;

            @include small-tablet {
                max-width: 100%;
                font-weight: 600;
                font-size: 3.2rem;
                text-transform: uppercase;
            }
        }

        &-image {
            @include sizes(100%, 38.5rem);

            @include small-tablet {
                @include sizes(100%, 32rem);
            }

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
