.detailed {
    &__content {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        @include small-tablet {
            flex-direction: column;
            gap: 0rem;
        }
    }

    &__product {
        max-width: 50%;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
        }

        &-gallery {
            max-width: 64.2rem;
            width: 100%;
            margin: 0 auto 5rem;

            @include small-tablet {
                max-width: 100%;
                margin: 0 0 4rem;
            }

            &-image {
                @include sizes(100%, 100%);

                @include small-tablet {
                    @include sizes(100%, 57.5rem);
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-thumbs {
            &-image {
                @include sizes(19rem, 15.8rem);
                transition:
                    0.3s border ease-out,
                    opacity 0.3s ease-out;
                border: 0.1rem solid $black;
                opacity: 0.5;

                @include small-tablet {
                    @include sizes(16.4rem, 13.6rem);
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .swiper-slide {
                cursor: pointer;

                &-thumb-active {
                    .detailed__product-thumbs-image {
                        border-color: $black;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__info {
        flex: 1 1 50%;

        @include small-tablet {
            flex: 1 1 100%;
            width: 100%;
        }

        &-subcontent {
            @include small-tablet {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 1.6rem;
            }
        }
    }

    &__title {
        margin-bottom: 2rem;

        @include small-tablet {
            margin-bottom: 1.6rem;
        }
    }

    &__articul {
        display: block;
        margin-bottom: 3.2rem;
        color: $grayTxt;

        @include small-tablet {
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 121%;
            margin-bottom: 0;
        }
    }

    &__block {
        padding: 3.2rem 0;
        border-bottom: 0.1rem solid $grayTxt;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;

        &:first-child {
            border-top: 0.1rem solid $black;
        }

        &-price {
            display: flex;
            align-items: flex-start;
            font-weight: 700;
            font-size: 3.4rem;
            text-transform: uppercase;
            width: 100%;
            @media (max-width: 48em) { 
                flex-direction: column;
                width: fit-content;
                position: relative;
                padding-right: 3rem;
            }
            sup {
                font-size: 2rem;
                margin-top: -1rem;
                @media (max-width: 48em) { 
                    position: absolute;
                    right: 0;
                }
            }

            p {
                font-size: 2rem;
                color:#a1a2a9;
                text-decoration:line-through;
                margin-left: 1rem;
                @media (max-width: 48em) { 
                    font-size: 3rem;
                }
            }
        }

        &-actions {
            display: flex;
            gap: 0.8rem;
            width: 100%;
            justify-content: space-between;
            position: relative;

            @include small-tablet {
                justify-content: flex-end;
            }

            &:not(:has(.detailed__block-bookmark)) {
                .detailed__block-button {
                    margin-left: auto;
                }
            }
        }

        &-button {
            max-width: 34.1rem;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &-bookmark {
            width: 6rem;
            height: 6rem;

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $gray;

            @include small-tablet {
                width: 8rem;
                height: 8rem;
            }

            svg {
                @include sizes(2.4rem, 2.4rem);

                @include small-tablet {
                    @include sizes(4.8rem, 4.8rem);
                }
            }

            &-wrapper {
                @include hover {
                    .detailed__block-bookmark-menu {
                        opacity: 1;
                        user-select: auto;
                        pointer-events: auto;
                    }
                }
            }

            &-menu {
                position: absolute;
                left: 0;
                top: calc(100% + 0.8rem);
                width: 100%;
                padding: 2.4rem;
                background-color: $white;
                border: 0.1rem solid #a1a2a9;
                z-index: 5;
                opacity: 0;
                transition:
                    0.3s opacity ease-out,
                    0.3s transform ease-out;
                user-select: none;
                pointer-events: none;

                @include small-tablet {
                    position: fixed;
                    bottom: 0;
                    padding: 3.2rem 2.4rem;
                    top: auto;
                    transform: translateY(100%);
                    opacity: 1;
                    pointer-events: auto;
                    user-select: auto;
                    z-index: 51;

                    &.--active {
                        transform: translateY(0);
                    }
                }

                &::after {
                    @include pseudo {
                        inset: 0;
                        top: -0.8rem;
                        width: 100%;
                        z-index: -1;

                        @include small-tablet {
                            display: none;
                        }
                    }
                }

                &-list {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                    margin-bottom: 1.6rem;

                    @include small-tablet {
                        gap: 4.8rem;
                        margin-bottom: 4.8rem;
                    }
                }

                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    &-counter {
                        font-size: 1.6rem;
                        color: #000001;

                        @include small-tablet {
                            font-size: 2.48rem;
                            line-height: 121%;
                        }
                    }
                }

                &-link {
                    margin-bottom: 2.4rem;

                    @include small-tablet {
                        margin-bottom: 4.8rem;
                    }
                }

                &-button {
                    padding: 1.6rem;
                    width: 100%;

                    @include small-tablet {
                        padding: 3.3rem;
                    }
                }
            }
        }

        &-exist {
            width: 100%;

            &-text {
                width: fit-content;
                display: block;
                padding: 0.8rem 2.4rem;
                background-color: $gray;
                position: relative;
                z-index: 2;

                @include small-tablet {
                    padding: 1.6rem 5rem;
                }

                &::after {
                    @include pseudo {
                        width: 2.1rem;
                        height: 100%;
                        z-index: -1;
                        left: 0;
                        top: 0;
                        background-color: $black;
                        clip-path: polygon(0 0, 0% 100%, 100% 0);

                        @include small-tablet {
                            width: 4.2rem;
                        }
                    }
                }

                &::before {
                    @include pseudo {
                        width: 2.1rem;
                        height: 100%;
                        z-index: -1;
                        right: 0;
                        top: 0;
                        background-color: $black;
                        clip-path: polygon(0 100%, 100% 100%, 100% 0);

                        @include small-tablet {
                            width: 4.2rem;
                        }
                    }
                }
            }

            &-counter {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                @include small-tablet {
                    gap: 1.6rem;
                    font-weight: 600;
                    font-size: 3.2rem;
                }

                span {
                    font-weight: 400;

                    @include small-tablet {
                        font-size: 2.8rem;
                        line-height: 121%;
                    }
                }
            }
        }
    }

    &__accordion {
        display: flex;
        flex-direction: column;

        &-item {
            padding: 3.2rem 0;
            border-bottom: 0.1rem solid $grayTxt;

            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                &._is-active {
                    figure {
                        transform: rotate(-180deg);
                    }
                }
            }

            &-content {
                margin-top: 1rem;

                @include small-tablet {
                    margin-top: 3rem;
                }
            }

            &-title {
                @include small-tablet {
                    font-weight: 600;
                    font-size: 3.6rem !important;
                }
            }

            &-icon {
                @include sizes(2.4rem, 2.4rem);
                transition: 0.3s transform ease-out;

                @include small-tablet {
                    @include sizes(4.8rem, 4.8rem);
                }
            }

            &-subtitle {
                display: block;
                margin-bottom: 2rem;

                @include small-tablet {
                    font-weight: 400;
                    font-size: 2.8rem;
                    line-height: 121%;
                }
            }

            &-blocks {
                display: flex;
                align-items: flex-start;
                gap: 3.8rem;

                @include small-tablet {
                    flex-direction: column;
                    gap: 0;
                }
            }

            &-block {
                flex: 1 1 50%;

                @include small-tablet {
                    flex: 1 1 100%;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                }

                li {
                    font-size: 1.6rem;
                    padding-left: 3rem;
                    position: relative;

                    @include small-tablet {
                        font-weight: 400;
                        font-size: 2.8rem;
                        line-height: 121%;
                        padding-left: 5rem;
                    }

                    &::after {
                        @include pseudo {
                            left: 1.5rem;
                            top: 1.2rem;
                            border-radius: 50%;
                            background-color: $black;
                            @include sizes(0.5rem, 0.5rem);

                            @include small-tablet {
                                max-width: 5px;
                                height: 5px;
                                left: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }


    .detailed__block-bookmark-menu {
     
        .table-order-account__quantity {
            margin-bottom: 1rem;
        }
    }

    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
        border: 1px solid #efefef;
    }

    .quantity__button {
       
        flex: 0 0 8rem;
        width: 8rem;
        &::before {
            font-size: 4rem;
        }
       
    }

    .quantity__input {
        flex: 0 0 8rem;
        width: 8rem;
        text-align: center;

        input {
            font-size: 2rem;
        }
    }

    .table-order-account__quantity {

        @media (max-width: 48em) { 
            position: initial;
            height: 8rem;
        }
        
    }


    .table-order-account__quantity--black {
        height: 6rem;
        border: 1.5px solid #000000;
        text-align: center;
        background-color: #000000;
        transition: background-color 0.3s ease;
        max-width: 34.1rem;
        width: 100%;
        @media (max-width: 48em) { 
            position: initial;
        }
        .quantity__button::before {
            color: #fff;
        }

        .quantity__input input {
            color: #fff;
        }
    }


    
}
