.equipment {

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 5rem;
    }


    &__box {
        width: 113.6rem;

        border-top: 0.1rem solid $grayTxt;
        &-btn {
            display: flex;
            align-items:center;
            justify-content: space-between;
            width: 100%;
            padding-top: 2.4rem;
            padding-bottom: 2.4rem;
            span {
                display: block;
                font-size: 2rem;
                font-weight: 600;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
                transition: 0.2s ease-in-out;
            }


        }


        ._is-active {
            svg {
                transform: rotate(90deg);
                transition: 0.2s ease-in-out;
            }
        }

       

        &-text {
             padding-bottom: 3.2rem;
        }


        &-lists {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 2em;
            grid-gap: .5em;
            li {
                margin-bottom: 0.8rem;
                position: relative;
                font-size: 1.8rem;
                font-weight: 400;
                padding-left: 1.5rem;
                display: block;
                &::before {
                    position: absolute;
                    content:'';
                    width: 0.8rem;
                    height: 0.8rem;
                    background-image: url(./assets/images/sections/services-main/tringls.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    &__box:last-child {
        border-bottom: 0.1rem solid $grayTxt;
    }


    &__aside {
        background-color: $gray;
        width: 55.4rem;
       
        display: block;
        &-content {
            padding: 4rem;
            padding-right: 3rem;
        }

        &-title {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 3.3rem;
            margin-bottom: 1.2rem;
            width: 47rem;
        }

        &-text {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.8rem;
        }

        &-image {
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
            position: relative;
            width: 100%;
            
            img {
                width: 100%;
               
            }
            &::after {
                position: absolute;
                content: "";
                background: rgba(89, 88, 88, 0.59);
                width: 100%;
                clip-path: polygon(0% 44%, 100% 0, 100% 47%, -3% 91%);
                height: 18rem;
                top: -2rem;
            }

        }

       
    }
}


@media (max-width: 48em) {

    .equipment {
        &__wrapper {
            flex-direction: column;
        }

        &__block {
            margin-bottom: 4rem;
        }

        &__aside {
            width: 100%;
        }
        

        &__content {
            width: 100%;
            min-width: 100%;
            padding: 3.2rem 2.4rem;
            margin-bottom: 3.2rem;

            strong {
                margin-bottom: 6.4rem;
                font-size: 3.2rem;
            }

            p {
                font-size: 2.8rem;
                line-height: 3.4rem;
                margin-bottom: 2.4rem;
            }

        
        }

        &__box {
            width: 100%;

            &-btn {
                span {
                    font-size: 3rem;
                }

                svg {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }

            &-text {
                padding-top: 4rem;
                font-size: 2.8rem;
                line-height: 3.4rem;
            }

            &-lists {
                grid-template-columns: 1fr;
                li {
                    font-size: 2.8rem;
                    line-height: 3.4rem;
                    margin-bottom: 1.4rem;
                    padding-left: 2.6rem;
                    &::before {
                        width: 1.6rem;
                        height: 1.6rem;
                        top: 1.8rem;
                    }
                }
    
                ul {
                    margin-bottom: 2.4rem; 
                }
            }
        }

        &__aside {

            &-content {
                padding: 4rem;
                padding-right: 4rem;
            }

            &-image {
                clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
                position: relative;
                width: 100%;
                
                img {
                    width: 100%;
                   
                }
                &::after {
                    position: absolute;
                    content:'';
                   
                    background: rgba(89, 88, 88, 0.59);
                    width: 100%;
                    clip-path: polygon(0% 44%, 100% 0, 100% 47%, -3% 91%);
                    height: 20rem;
                    top: 0;
                }
    
            }

            &-title {
                font-size: 3.2rem;
                line-height: 4.4rem;
                margin-bottom: 1.6rem;
            }

            &-text {
                font-size: 2.8rem;
                font-weight: 400;
            }
        }
    }
    

 }