.gallery {
    .container {
        width: 100%;
        padding-left: 10rem;
    }

    &__wrapper {
        position: relative;
    }
    .swiper-wrapper {
        align-items: center;
    }

    &__navigation {
        position: absolute;
        top: 0rem;
        right: 10rem;
        z-index: 3;
    }

    &__title {
        margin-bottom: 5rem;
    }

    &__image {
        width: 100%;
        height: 85.3rem;
        transform: scaleY(0.8);
        transition: 0.3s transform ease-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-slide-active {
        .gallery__image {
            transform: scale(1);
        }
    }

    &__slider-navigation {
        position: absolute;
        right: 10rem;
        top: 0;
        z-index: 3;
        @media (max-width: 48em) {
            display: none;
        }
    }
}

@media (max-width: 48em) {
    .gallery {
        position: relative;
        .container {
            padding-right: 0;
            padding-left: 2rem;
        }

        &__navigation {
            position: absolute;
            top: -11rem;
            right: 2rem;
            z-index: 3;
        }

        &__image {
            height: 35.2rem;
            transform: scale(1);
        }
    }
}
