.hero {
    margin: 0 2rem;
    margin-bottom: 20rem;

    @media (min-width: 48em) {
        margin: 0;
        margin-bottom: 15rem;
        background-color: $gray;
        overflow: hidden;
    }

    &__container {
        position: relative;
    }

    &__carousel {
        &.swiper {
            overflow: visible;
        }
    }

    &__carousel-pagination {
        position: absolute;
        z-index: 2;
        bottom: 10.9rem;
        right: 0;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__slide {
        &.swiper-slide {
            display: flex;
            flex-direction: column-reverse;
        }

        @media (min-width: 48em) {
            &.swiper-slide {
                display: grid;
                grid-template-columns: 7fr 5fr;

                .banner__image-wrap {
                    @media (min-width: 48em) {
                        &::before {
                            content: '';
                            position: absolute;
                            z-index: 2;
                            top: 0.7rem;
                            left: 0;
                            width: 32.9rem;
                            height: 81.2rem;
                            background-image: url('./assets/images/bg/mic.webp');
                            background-size: contain;
                            background-repeat: no-repeat;
                            transform: translateX(-50%);
                            clip-path: none;
                            backdrop-filter: none;
                            background-color: transparent;
                        }
                    }
                }

                .banner__image {
                    @media (min-width: 48em) {
                        width: calc(172rem / 2);
                        object-position: left;
                        clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
                    }
                }
            }
        }
    }
}
