.sticky-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    padding: 2.4rem 0;
    z-index: 50;
    margin-bottom: 0;
    display: none;

    @include small-tablet {
        display: block;
        border-top: 0.1rem solid #a1a2a9;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        .detailed {
            &__block {
                padding: 0;
                border: 0;
                flex-direction: column;
                gap: 3.2rem;
                align-items: flex-start;

                &-price {
                    font-weight: 700;
                    font-size: 4.4rem;
                    line-height: 159%;
                    width: fit-content;

                    sup {
                        font-size: 3.2rem;
                    }
                }

                &-actions {
                    justify-content: flex-start;
                    width: 100%;
                    gap: 0.4rem;
                }

                &-button {
                    max-width: 100%;
                    width: 100%;

                    @include small-tablet {
                        max-width: 37rem;
                    }
                }

                &-bookmark {
                    max-width: 10rem;
                    height: initial;

                    svg {
                        @include sizes(4.8rem, 4.8rem);
                    }
                }
            }
        }
    }
}
