.header {
    position: relative;
    display: flex;
    flex-direction: column;

    &__close-search-btn {
        svg {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__mm-actions {
        display: none;

        @media (max-width: 48em) {
            display: flex;
            align-items: center;
            column-gap: 3.2rem;

            svg {
                width: 4.8rem;
                height: 4.8rem;
            }
        }
    }

    &__container {
        @media (max-width: 48em) {
            padding: 0;
        }
    }

    &__top-bar {
        padding: 1.4rem 0;
        background-color: $gray;

        .container {
            display: flex;
            align-items: center;
        }

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__contacts-list {
        margin-right: auto;
        display: flex;
        column-gap: 3rem;
    }

    &__nav {
        padding-left: 2.5rem;
        display: flex;
        column-gap: 4.8rem;
    }

    &__nav-link {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0.25rem;
            left: -2.4rem;
            height: 2rem;
            width: 1px;
            background-color: $grayTxt;
            transform: translateX(-100%);
        }
    }

    &__inner {
        padding-top: 2rem;
        background-color: $white;

        .container {
            position: relative;
            display: flex;
            column-gap: 2rem;

            @media (max-width: 48em) {
                flex-direction: column;
            }
        }
    }

    &__group {
        flex: 0 0 11.2rem;

        @media (max-width: 48em) {
            margin-bottom: 2rem;
            padding: 0 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 0 0 auto;

            .i-link {
                svg {
                    flex: 0 0 5rem;
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }

    &__logo {
        width: 11.2rem;

        @media (max-width: 48em) {
            width: 18rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        flex: 1 1 auto;
    }

    &__row {
        display: flex;

        &_upper {
            @media (max-width: 48em) {
                display: none;
            }
        }
        &_lower {
            column-gap: 2.1rem;

            @media (max-width: 48em) {
                padding-left: 2rem;
            }
        }
    }

    &__hamburger {
        @media (max-width: 48em) {
            padding: 1.3rem 1.1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 8.4rem;
            width: 8.4rem;
            height: 8.4rem;
            background-color: $black;
        }
    }

    &__hamburger-icon {
        width: 4rem;
    }

    &__catalog-btn {
        margin-right: 2.6rem;

        ._show-catalog & {
            .catalog-btn__icon-img {
                display: none;

                &_cross {
                    display: inline-block;
                }
            }
        }
        @media (min-width: 48em) {
            ._show-search & {
                pointer-events: none;
            }
        }
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__search {
        margin-bottom: 1.6rem;
        flex: 1 1 auto;
        position: relative;

        .search__btn {
            height: 100%;
        }

        .search__input {
            position: initial;

            input {
                padding: 0 2rem;
            }
        }

        @media (min-width: 48em) {
            margin-bottom: 0;
            margin-right: 2.8rem;
        }

        &-menu {
            position: absolute;
            width: 130.4rem;
            left: 31.2rem;
            top: 6.5rem;
            padding: 3.2rem;
            background-color: $white;
            border: 0.1rem solid #a1a2a9;
            z-index: 55;
            user-select: none;
            pointer-events: none;

            transition:
                0.3s transform ease-out,
                0.3s opacity ease-out,
                visibility 0.3s ease-out;
            transform: translateY(-1rem);
            opacity: 0;
            visibility: hidden;
            min-height: 35.2rem;

            @include small-tablet {
                position: fixed;
                top: 0rem;
                left: 0;
                padding: 2rem 2rem 10rem 2rem;
                height: 100%;
                width: 100%;
                overflow: auto;
                border: none;
                pointer-events: all;
            }

            &:has(.header__search-menu-empty) {
                height: 100%;
                @media (max-width: 48em) {
                    .header__search-menu-wrapper {
                        padding: 14rem 4rem 20rem 4rem;
                        height: auto;
                    }
                }
            }

            ._show-search & {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                user-select: auto;
                @media (min-width: 48em) {
                    pointer-events: all;
                }
            }

            &-head {
                display: none;

                @media (max-width: 48em) {
                    margin-bottom: 4rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            &-empty {
                display: flex;
                flex-direction: column;
                align-items: center;

                &-icon {
                    width: 3.4rem;
                    height: 3.4rem;

                    @include small-tablet {
                        width: 8.8rem;
                        height: 8.8rem;
                    }

                    img {
                        height: 100%;
                    }
                }

                p {
                    max-width: 36rem;
                    width: 100%;

                    @include small-tablet {
                        max-width: 85%;
                        font-weight: 400;
                        font-size: 3.6rem;
                        line-height: 94%;
                    }
                }
            }

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 4rem;
                max-height: 49rem;
                overflow-x: auto;
                overscroll-behavior: contain;

                @include small-tablet {
                    padding: 3.2rem 0rem;
                    gap: 4.8rem;
                    height: auto;
                    max-height: initial;
                    min-height: auto;
                    

                }

                &:has(.header__search-menu-empty) {
                    align-items: center;
                    justify-content: center;
                    gap: 2.4rem;
                    height: 100%;
                    text-align: center;

                    @include small-tablet {
                        gap: 4.8rem;
                    }
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                @include small-tablet {
                    gap: 2.4rem;
                }
            }

            &-item {
                a {
                    @include small-tablet {
                        font-size: 2.8rem;
                        line-height: 121%;
                    }
                }
            }

            &-title {
                display: block;
                margin-bottom: 2.4rem;

                @include small-tablet {
                    font-weight: 600;
                    font-size: 3.6rem !important;
                    margin-bottom: 3.2rem;
                }
            }

            &-categories {
                &-list {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;

                    @include small-tablet {
                        gap: 2.4rem;
                    }
                }

                &-item {
                    font-weight: 400;
                    font-size: 2.8rem;
                    line-height: 121%;
                }

                &-item {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 0.6rem;

                        @include small-tablet {
                            gap: 1.6rem;
                        }
                    }

                    figure {
                        @include sizes(2.4rem, 2.4rem);

                        @include small-tablet {
                            @include sizes(4.8rem, 4.8rem);
                        }
                    }

                    span {
                        color: $grayTxt;

                        @include small-tablet {
                            font-weight: 400;
                            font-size: 2.8rem;
                            line-height: 121%;
                        }
                    }
                }
            }

            &-products {
                &-list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 0.6rem;

                    @include small-tablet {
                        display: flex;
                        flex-direction: column;
                        gap: 2.4rem;
                    }
                }

                &-item {
                    a {
                        padding: 1.6rem;
                        background-color: $gray;
                        display: flex;
                        gap: 1.2rem;

                        @include small-tablet {
                            padding: 2.4rem;
                            gap: 2.4rem;
                        }
                    }

                    &-image {
                        @include sizes(9.6rem, 9.6rem);

                        @include small-tablet {
                            @include sizes(16.4rem, 16.4rem);
                        }

                        img {
                            height: 100%;
                            object-fit: cover;
                            mix-blend-mode: darken;
                        }
                    }

                    &-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                    }

                    &-title {
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 120%;
                        color: #1d1d1b;
                        @include clamp-text(1);

                        @include small-tablet {
                            font-size: 2.8rem;
                            line-height: 121%;
                        }
                    }

                    &-bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            display: flex;
                            align-items: flex-start;
                            font-size: 2rem;

                            @include small-tablet {
                                font-weight: 600;
                                font-size: 4rem;
                            }

                            sup {
                                margin-top: -0.5rem;
                                font-size: 1.8rem;

                                @include small-tablet {
                                    margin-top: -1rem;
                                    font-size: 3.6rem;
                                }
                            }
                        }
                    }

                    &-button {
                        width: 4.4rem;
                        height: 4.4rem;
                        flex: 0 0 4.4rem;
                        background-color: $black;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include small-tablet {
                            width: 8rem;
                            height: 8rem;
                            flex: 0 0 8rem;
                        }

                        svg {
                            @include sizes(2.4rem, 2.4rem);

                            @include small-tablet {
                                @include sizes(4.8rem, 4.8rem);
                            }
                        }
                    }
                }
            }
        }
    }

    &__actions {
        @media (min-width: 48em) {
            max-width: 7.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__actions-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;
        text-align: center;

        svg {
            width: 3.6rem;
            height: 3.6rem;

            @media (max-width: 48em) {
                width: 5rem;
                height: 5rem;
            }
        }
    }

    &__actions-item-txt {
        @media (max-width: 48em) {
            display: none;
        }
    }

    &__catalog-chapters {
        display: flex;
        column-gap: 1.6rem;
        flex: 1 1 auto;

        @media (max-width: 48em) {
            column-gap: 2rem;
            overflow-x: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__catalog-chapter {
        padding: 1.9rem 2.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
        background-color: $gray;
        flex: 1 1 auto;

        @media (max-width: 48em) {
            padding: 3rem 4rem;
            flex: 0 0 auto;
            height: 10rem;
        }
    }

    &__call-btn {
        @media (max-width: 48em) {
            display: none;
        }
    }
}

.catalog-menu-header {
    position: absolute;
    z-index: 5;
    top: 13rem;
    left: 0;
    padding-top: 10rem;

    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;

    ._show-catalog & {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &__inner {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 48.2rem 133.8rem 1fr;
        max-width: 1920px;
        background-color: $white;
        border-top: 1px solid #a1a2a9;
        border-bottom: 1px solid #a1a2a9;
    }

    &__nav {
        padding: 10rem 0;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $grayTxt;
    }

    &__nav-sublink {
        padding: 2.4rem;
        padding-left: 14rem;
        transition: background-color 0.3s ease;

        .txt {
            transition: color 0.3s ease;
        }

        &._is-active {
            background-color: $black;

            .txt {
                color: $white;
            }
        }
    }

    &__subnav {
        padding-top: 10rem;
        padding-left: 5.6rem;
        display: flex;
        flex-direction: column;

        &:not(&._is-active) {
            display: none;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.8rem;
        row-gap: 2rem;
    }
}

.hamburger-menu {
    display: none;

    @media (max-width: 48em) {
        position: fixed;
        z-index: 200;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 37.6rem;
        background-color: $white;
        overflow: auto;
        transform: translateX(110%);
        transition: transform 0.3s ease;
        min-width: 45rem;

        ._show-menu & {
            transform: translateX(0);
        }

        &__inner {
            display: flex;
            flex-direction: column;
        }

        &__close-btn {
            align-self: flex-end;
            margin-top: 2.4rem;
            margin-right: 2.4rem;
            margin-bottom: 5.4rem;

            svg {
                width: 4.8rem;
                height: 4.8rem;
            }
        }

        &__nav {
            display: flex;
            gap: 3.2rem;
            flex-direction: column;

            &-list {
                display: flex;
                flex-direction: column;
                text-align: right;
                gap: 2.5rem;

                &:first-child {
                    border-bottom: 0.1rem solid #a1a2a9;
                }
            }

            &-item {
                border-bottom: 0.1rem solid #efefef;
                padding-bottom: 3.2rem;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

        &__nav-link {
            font-weight: 600;
            font-size: 3.2rem;
            line-height: 5rem;
            text-transform: uppercase;
            padding-right: 2.4rem;
        }
    }
}

.menu-bar {
    position: fixed;
    z-index: 200;
    bottom: 6rem;
    left: 50%;
    padding: 2.4rem;
    background-color: $black;
    transform: translateX(-50%) translateY(calc(100% + 10rem));
    transition: transform 0.5s ease;
    @media (max-width: 48em) { 
       display: none;
    }
    @media (min-width: 48em) {
        display: none;
    }

    .product-page & {
        display: none;
    }

    ._header-scroll & {
        transform: translateX(-50%);
    }
    ._show-search &,
    ._show-menu &,
    .modal-show & {
        transform: translateX(-50%) translateY(calc(100% + 10rem));
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3.2rem;

        svg {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__contacts {
        position: absolute;
        top: -3.2rem;
        left: 50%;
        padding: 3.2rem 12rem;
        background-color: $white;
        transform: translate(-50%, -100%) scale(0);
        transition: transform 0.3s ease;

        ._show-contacts & {
            transform: translate(-50%, -100%) scale(1);
        }
    }

    &__contacts-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 1.2rem;
    }

    &__contacts-item {
        display: flex;
        align-items: center;
        column-gap: 2.4rem;

        &_tel {
            .menu-bar__contacts-item_tel {
                text-decoration: underline;
            }
        }

        svg {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    &__contacts-item-txt {
        font-size: 2.8rem;
        line-height: 3.6rem;
        white-space: nowrap;
    }
}
