<section class="about-service">
    <div class="container">
        <div class="about-service__wrapper">
            <div class="about-service__content">
                <h2 class="about-service__title h h_h1">Об усуге</h2>
                <p>Комплексное оснащение объектов "под ключ" означает, что мы выполним все этапы подбора,
                    проектирования, поставки, монтажа и запуска оборудования. Это позволяет сократить время и стоимость
                    проекта за счет оптимизации и согласованности всех процессов.
                </p>
                <p>Оснащение объектов "под ключ" предполагает полное комплексное решение задачи по оснащению объекта,
                    включая проектирование, поставку, монтаж и настройку необходимого оборудования и систем. Данная
                    услуга позволяет получить готовый объект, полностью готовый к эксплуатации.
                </p>
                <strong>Оснащение объектов "под ключ" включает
                </strong>
                <ul>
                    <li>Подбор оборудования под определенные цели и задачи;
                    </li>
                    <li>Поставку оборудования;
                    </li>
                    <li>Монтажные работы;
                    </li>
                    <li>Пуско-наладочные работы;
                    </li>
                    <li>Обучение персонала;
                    </li>
                    <li>PAN движение: 540° + 16 бит.</li>
                </ul>
                <p>Для успешного оснащения объекта под ключ, важно выбрать хороших поставщиков оборудования и
                    материалов, профессиональных инженеров и специалистов для проведения монтажных и пусконаладочных
                    работ. Оснащение объектов звуковым, световыми, сценическим и медиавизуальным оборудованием -
                    основное направлением деятельности компании Lightdec. Мы работаем с объектами любой сложности и
                    готовы приступить на любом этапе.</p>
            </div>

            <div class="about-service__block">
                <div class="about-service__block-title">
                    <strong>Заказать услугу</strong>
                    <span>Поможем подобрать походящее оборудование</span>
                </div>
                <form data-dev action="#" class="request__form">
                    <div class="request__form-fields">
                        <label data-hint="Заполните поле" class="input">
                            <input
                                data-validate
                                data-required
                                autocomplete="off"
                                type="text"
                                name="form[]"
                                placeholder="Имя"
                                class="input__field"
                            />
                        </label>

                        <label data-hint="Заполните поле" class="input">
                            <input
                                data-tel-mask
                                data-validate
                                data-required
                                autocomplete="off"
                                type="tel"
                                name="form[]"
                                placeholder="Телефон"
                                class="input__field"
                            />
                        </label>
                    </div>

                    <p class="request__form-description txt_14 txt_semibold">
                        Нажимая на кнопку, Вы принимаете условия пользовательского соглашения
                    </p>

                    <button type="submit" class="request__form-button btn btn_primary">
                        <span class="txt txt_20 txt_semibold">Заказать звонок</span>
                    </button>
                </form>
                <div class="about-service__block-image">
                    <img src="./assets/images/sections/services-main/form.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>