<section class="company">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <span class="breadcrumbs__txt txt txt_16">О нас</span>
        </nav>
        <div class="company__content">
            <h1 class="company__title h h_h1">Компания АВАлон</h1>

            <figure class="company__image">
                <img src="../assets/images/sections/company/company-image.png" alt="" />
            </figure>

            <p class="company__description txt_20 txt_semibold">
                Наша компания - это команда опытных, квалифицированных сотрудников, готовых дать исчерпывающую
                информацию по всему оборудованию, помочь в его настройке и составлении спецификации проекта.
            </p>
        </div>
    </div>
</section>
