<section class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__info">
                <h2 class="about__title h h_h1">О нас</h2>

                <p class="about__description txt_18 txt_semibold">
                    Компания Авалон занимает лидирующее положение на отечественном рынке звукоизоляционных,
                    акустических и виброизоляционных материалов, технологий, а также инженерного консалтинга в
                    области строительной и архитектурной акустики.
                </p>

                <ul class="about__list">
                    <li class="about__item">
                        <strong class="about__item-subtitle h h_h1"> 15 </strong>

                        <span class="about__item-title txt_18 txt_semibold"> Лет опыта на рынке </span>
                    </li>
                    <li class="about__item">
                        <strong class="about__item-subtitle h h_h1"> 100 </strong>

                        <span class="about__item-title txt_18 txt_semibold">Реализованных проектов</span>
                    </li>
                    <li class="about__item">
                        <strong class="about__item-subtitle h h_h1"> 150 </strong>

                        <span class="about__item-title txt_18 txt_semibold"
                            >Квалифицированных сотрудников</span
                        >
                    </li>
                </ul>
            </div>

            <figure class="about__image">
                <img src="../assets/images/sections/about/about-image.png" alt="" />
            </figure>
        </div>
    </div>
</section>
