<section class="answers">
    <div class="container">
        <div class="answers__title h h_h1">Ответы на вопросы</div>
        <div class="answers__wrapper">
            <div class="answers__block" data-accordion="" >
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Консультирование на объектах</span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Блицконсультация </span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Шефмонтаж на объектах</span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Аудит технических решений</span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Акустическое моделирование  </span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Акустические измерения </span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
                <div class="answers__box">
                    <button class="answers__box-btn" data-accordion-item>
                        <span>Акустические расчеты</span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <div class="answers__box-text">
                        Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.
                    </div>
                </div>
            </div>
            <div class="answers__content">
                <strong>Консультирование на объектах</strong>
                <p>Визит специалиста в области акустики сэкономит время и деньги заказчику, поскольку консультация позволяет:</p>
                <ul>
                    <li>выявить при визуальном осмотре ошибки в технических решениях, оценить возможность и целесообразность реализации тех или иных мер для улучшения акустики,</li>
                    <li>провести акустические измерения и расчеты для выработки оптимального технического решения.</li>
                </ul>
                <p>Если заказчик выбирает помещение для аренды или покупки под определенные цели, специалист по акустике может предоставить информацию, которая позволит принять взвешенное решение с точки зрения возможности и необходимости проведения мероприятий для обеспечения акустического комфорта.</p>
                <p>Итогом консультации является отчет, включающий в себя описание проблемных участков, возможные пути решения вопроса, при необходимости – стоимость дополнительных акустических измерений и смысл их проведения.</p>
            </div>
        </div>
    </div>
</section>