<section class="banner">
    <div class="banner__container container">
        <div class="banner__text">
            <span class="banner__heading h h_h1">Лучшие условия  для дистрибьютеров</span>
            <p class="banner__description txt txt_20 txt_semibold">Для оформления заказа в нашем магазине Вам необходимо зарегестрироваться.</p>
            <a href="#" class="banner__btn btn btn_primary">
                <span class="txt txt_20 txt_semibold">Зарегистрироваться</span>
            </a>
        </div>
        <div class="banner__image-wrap">
            <img src="./assets/images/bg/18280442458.webp" alt="" class="banner__image">
        </div>
    </div>
</section>