<section class="brands">
    <div class="container">
        <div class="brands__content">
            <div class="brands__heading">
                <h2 class="brands__title h h_h1">Партнеры и бренды</h2>

                <div class="brands__navigation swiper-navigation _desktop-only">
                    <button type="button" class="arrow-btn arrow-btn_prev">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                                fill="#000001"
                            />
                        </svg>
                    </button>
                    <button type="button" class="arrow-btn arrow-btn_next">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                                fill="#000001"
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="brands__slider brands-swiper swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="#" class="brands__card">
                            <figure class="brands__card-logo">
                                <img src="../assets/images/sections/brands/logo-1.svg" alt="" />
                            </figure>

                            <ul class="brands__card-waves">
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                            </ul>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="brands__card">
                            <figure class="brands__card-logo">
                                <img src="../assets/images/sections/brands/logo-2.svg" alt="" />
                            </figure>

                            <ul class="brands__card-waves">
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                            </ul>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="brands__card">
                            <figure class="brands__card-logo">
                                <img src="../assets/images/sections/brands/logo-3.svg" alt="" />
                            </figure>

                            <ul class="brands__card-waves">
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                            </ul>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="brands__card">
                            <figure class="brands__card-logo">
                                <img src="../assets/images/sections/brands/logo-4.svg" alt="" />
                            </figure>

                            <ul class="brands__card-waves">
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                            </ul>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="brands__card">
                            <figure class="brands__card-logo">
                                <img src="../assets/images/sections/brands/logo-2.svg" alt="" />
                            </figure>

                            <ul class="brands__card-waves">
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                                <li class="brands__card-wave --72"></li>
                                <li class="brands__card-wave --88"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --55"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --77"></li>
                                <li class="brands__card-wave --66"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --60"></li>
                                <li class="brands__card-wave --94"></li>
                                <li class="brands__card-wave --82"></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="brands__companies-slider">
                <button type="button" class="arrow-btn arrow-btn_prev _desktop-only">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>

                <div class="brands__companies-swiper brands-companies-swiper swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <a href="#" class="brands__companies-logo">
                                <img src="../assets/images/sections/brands/company-logo-1.svg" alt="" />
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <a href="#" class="brands__companies-logo">
                                <img src="../assets/images/sections/brands/company-logo-2.svg" alt="" />
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <a href="#" class="brands__companies-logo">
                                <img src="../assets/images/sections/brands/company-logo-3.svg" alt="" />
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <a href="#" class="brands__companies-logo">
                                <img src="../assets/images/sections/brands/company-logo-4.svg" alt="" />
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <a href="#" class="brands__companies-logo">
                                <img src="../assets/images/sections/brands/company-logo-5.svg" alt="" />
                            </a>
                        </li>
                        <li class="swiper-slide">
                            <a href="#" class="brands__companies-logo">
                                <img src="../assets/images/sections/brands/company-logo-1.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>

                <button type="button" class="arrow-btn arrow-btn_next _desktop-only">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
