<section class="catalog">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <a href="#" class="breadcrumbs__link txt txt_16">Каталог</a>
            <span class="breadcrumbs__txt breadcrumbs__link_chapter txt txt_16">Световое оборудование</span>
        </nav>

        <h1 class="catalog__title h h_h1">Световое оборудование</h1>

        <ul class="catalog__categories-list">
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-1.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold"> Световые приборы </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-2.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold"> Системы управления </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-1.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold">
                        Генераторы спецэффектов
                    </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-3.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold"> Лазерные системы </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-2.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold"> Зеркальные шары </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-1.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold"> Лампы </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-3.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold">
                        Технологическое освещение
                    </span>
                </a>
            </li>
            <li class="catalog__categories-item categories-item">
                <a href="#" class="categories-item__inner">
                    <figure class="categories-item__image">
                        <img src="./assets/images/sections/categories/category-item-image-1.png" alt="" />
                    </figure>

                    <span class="categories-item__title txt txt_18 txt_semibold"> Прожекторы </span>
                </a>
            </li>
        </ul>

        <div class="catalog__content">
            <aside class="catalog__filters">
                <form data-accordion="768,max" action="">
                    <div class="catalog__filters-heading">
                        <span class="catalog__filters-heading-title"> Фильтры </span>

                        <button class="catalog__filters-heading-button">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M5 5L12 12M12 12L19 5M12 12L5 19M12 12L19 19"
                                    stroke="#A1A2A9"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>

                    <div class="catalog__filters-block">
                        <span data-accordion-item class="catalog__filters-block-title txt_20 txt_semibold">
                            Бренды
                        </span>

                        <div hidden="" class="catalog__filters-block-list-wrapper">
                            <ul class="catalog__filters-block-list">
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input
                                            type="checkbox"
                                            value="APOGEE"
                                            name="form[]"
                                            class="checkbox__input"
                                        />
                                        <span class="checkbox__txt">APOGEE</span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input
                                            type="checkbox"
                                            value="ARTURIA"
                                            name="form[]"
                                            class="checkbox__input"
                                        />
                                        <span class="checkbox__txt">ARTURIA </span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input
                                            type="checkbox"
                                            value="Alctron"
                                            name="form[]"
                                            class="checkbox__input"
                                        />
                                        <span class="checkbox__txt">Alctron</span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input type="checkbox" name="form[]" class="checkbox__input" />
                                        <span class="checkbox__txt">Artesia </span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input type="checkbox" name="form[]" class="checkbox__input" />
                                        <span class="checkbox__txt">BEHRINGER </span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input type="checkbox" name="form[]" class="checkbox__input" />
                                        <span class="checkbox__txt">BOSS </span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input type="checkbox" name="form[]" class="checkbox__input" />
                                        <span class="checkbox__txt">Donner </span>
                                    </label>
                                </li>
                                <li class="catalog__filters-block-item">
                                    <label class="checkbox">
                                        <input type="checkbox" name="form[]" class="checkbox__input" />
                                        <span class="checkbox__txt">FOCUSRITE </span>
                                    </label>
                                </li>
                            </ul>

                            <div data-showmore="" class="catalog__filters-block-addiction">
                                <ul data-showmore-content="0" class="catalog__filters-block-list --showmore">
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">APOGEE</span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">ARTURIA </span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">Alctron</span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">Artesia </span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">BEHRINGER </span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">BOSS </span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">Donner </span>
                                        </label>
                                    </li>
                                    <li class="catalog__filters-block-item">
                                        <label class="checkbox">
                                            <input type="checkbox" name="form[]" class="checkbox__input" />
                                            <span class="checkbox__txt">FOCUSRITE </span>
                                        </label>
                                    </li>
                                </ul>

                                <div data-showmore-button="" class="catalog__filters-block-addiction-button">
                                    <div>
                                        <span>Показать ещё</span>
                                        <span>Скрыть</span>
                                    </div>

                                    <figure class="arrow-icon">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 10L11.2929 14.2929C11.6262 14.6262 11.7929 14.7929 12 14.7929C12.2071 14.7929 12.3738 14.6262 12.7071 14.2929L17 10"
                                                stroke="#000001"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="catalog__filters-block">
                        <div class="catalog__filters-slide">
                            <span
                                data-accordion-item
                                class="catalog__filters-block-title txt_20 txt_semibold"
                            >
                                Цена
                            </span>

                            <div class="catalog__filters-slide-wrapper range-slider">
                                <div class="catalog__filters-slide-fields">
                                    <label for="from">
                                        <input placeholder="от 20 000 ₽" type="text" id="from" />
                                    </label>
                                    <label for="to">
                                        <input placeholder="до 820 000 ₽" type="text" id="to" />
                                    </label>
                                </div>

                                <div class="catalog__filters-slide-price" id="range-slider"></div>
                            </div>
                        </div>
                    </div>

                    <div class="catalog__filters-block">
                        <span data-accordion-item class="catalog__filters-block-title txt_20 txt_semibold">
                            Источник света
                        </span>

                        <ul hidden="" class="catalog__filters-block-list">
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">Светодиод</span>
                                </label>
                            </li>
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">Лазер </span>
                                </label>
                            </li>
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">Лампа</span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="catalog__filters-block">
                        <span data-accordion-item class="catalog__filters-block-title txt_20 txt_semibold"
                            >Количество входов</span
                        >

                        <ul hidden="" class="catalog__filters-block-list">
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">10</span>
                                </label>
                            </li>
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">4 </span>
                                </label>
                            </li>
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">2</span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="catalog__filters-block">
                        <span data-accordion-item class="catalog__filters-block-title txt_20 txt_semibold"
                            >Питание</span
                        >

                        <ul hidden="" class="catalog__filters-block-list">
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">USB</span>
                                </label>
                            </li>
                            <li class="catalog__filters-block-item">
                                <label class="checkbox">
                                    <input type="checkbox" name="form[]" class="checkbox__input" />
                                    <span class="checkbox__txt">Адаптер </span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="catalog__filters-bottom">
                        <div class="catalog__filters-buttons">
                            <button type="submit" class="catalog__filters-button btn btn_primary">
                                <span class="txt txt_20 txt_semibold">Применить</span>
                            </button>

                            <button type="button" class="catalog__filters-button --reset">
                                <span> Сбросить </span>

                                <img src="./assets/images/icons/trash.svg" alt="" />
                            </button>
                        </div>
                    </div>
                </form>
            </aside>

            <div class="catalog__products">
                <div class="catalog__banner">
                    <div class="catalog__banner-text">
                        <h2 class="catalog__banner-title h h_h3">Скидка до 20% на звуковые карты!</h2>

                        <p class="catalog__banner-description txt_20 txt_semibold">
                            Профессиональные карты по выгодным ценам
                        </p>
                    </div>

                    <figure class="catalog__banner-poster">
                        <img src="./assets/images/sections/categories/catalog-banner-image.png" alt="" />
                    </figure>
                </div>

                <div class="catalog__selection">
                    <ul data-da=".catalog__filters-bottom,768,first" class="catalog__selection-list"></ul>

                    <div class="catalog__selection-sorting">
                        <div class="dropdown">
                            <select data-show-selection name="form[]">
                                <option value="1" selected>Сначала дешевле</option>
                                <option value="2">Сначала дороже</option>
                                <option value="3">Сначала новинки</option>
                            </select>
                        </div>
                    </div>

                    <button type="button" class="catalog__selection-button _mobile-only">
                        <span> Фильтры </span>

                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M3.00078 7.6474V4.22246C2.97932 2.7808 4.13041 1.5946 5.57206 1.57275H18.4285C19.8701 1.5946 21.0212 2.7808 20.9997 4.22246V7.6474C21.0007 7.99689 20.8656 8.33304 20.623 8.58463L14.9482 13.1435C14.7056 13.3951 14.5705 13.7312 14.5715 14.0807V20.7776C14.5743 21.2741 14.3001 21.7308 13.8606 21.9617L11.2893 23.2859C10.8853 23.488 10.4049 23.4632 10.0238 23.2207C9.64277 22.9781 9.41694 22.5534 9.42898 22.1018V14.0807C9.42997 13.7312 9.29487 13.3951 9.05229 13.1435L3.37748 8.58334C3.1352 8.33207 3.00012 7.99644 3.00078 7.6474Z"
                                fill="#000001"
                            />
                        </svg>
                    </button>
                </div>

                <ul class="catalog__cards">
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-1.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Персональная мониторная система
                                </span>

                                <p class="product-card__info-title txt_20">Behringer MS16 Monitor Speakers</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-text">11 900 <sup>₽</sup></p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-2.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Cветодиодный прожектор полного вращения
                                </span>

                                <p class="product-card__info-title txt_20">Involight MH FXWash1912</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-empty txt_20">Цена по запросу</p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-3.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Светильник многолучевой
                                </span>

                                <p class="product-card__info-title txt_20">Involight OB200 LED</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-text">194 400 <sup>₽</sup></p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-2.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Cветодиодный прожектор полного вращения
                                </span>

                                <p class="product-card__info-title txt_20">Involight MH FXWash1912</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-empty txt_20">Цена по запросу</p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-3.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Светильник многолучевой
                                </span>

                                <p class="product-card__info-title txt_20">Involight OB200 LED</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-text">194 400 <sup>₽</sup></p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-1.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Персональная мониторная система
                                </span>

                                <p class="product-card__info-title txt_20">Behringer MS16 Monitor Speakers</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-text">11 900 <sup>₽</sup></p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-3.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Светильник многолучевой
                                </span>

                                <p class="product-card__info-title txt_20">Involight OB200 LED</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-text">194 400 <sup>₽</sup></p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-1.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Персональная мониторная система
                                </span>

                                <p class="product-card__info-title txt_20">Behringer MS16 Monitor Speakers</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-text">11 900 <sup>₽</sup></p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="product-card">
                            <span class="product-card__promotion"> Новинка </span>

                            <figure class="product-card__image">
                                <img
                                    src="./assets/images/sections/categories/catalog-card-image-2.webp"
                                    alt=""
                                />
                            </figure>

                            <div class="product-card__info">
                                <span class="product-card__info-subtitle txt_14 txt_semibold">
                                    Cветодиодный прожектор полного вращения
                                </span>

                                <p class="product-card__info-title txt_20">Involight MH FXWash1912</p>

                                <div class="product-card__info-price">
                                    <p class="product-card__info-price-empty txt_20">Цена по запросу</p>

                                    <button type="button" class="product-card__info-button">
                                        <svg
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 22L16.2929 12.7071C16.6262 12.3738 16.7929 12.2071 16.7929 12C16.7929 11.7929 16.6262 11.6262 16.2929 11.2929L7 2"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <button class="catalog__products-button">
                    Показать ещё
                    <svg
                        width="25"
                        height="24"
                        viewBox="0 0 25 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M7.5 10L11.7929 14.2929C12.1262 14.6262 12.2929 14.7929 12.5 14.7929C12.7071 14.7929 12.8738 14.6262 13.2071 14.2929L17.5 10"
                            stroke="#000001"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>

                <div class="pagination">
                    <a href="#" class="pagination__arr pagination__arr_prev _is-disabled">
                        <svg
                            width="21"
                            height="12"
                            viewBox="0 0 21 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M21 5.62054C21 5.20633 20.6642 4.87054 20.25 4.87054L10 4.87054L10 2.75588C10 0.473823 7.38084 -0.815274 5.57253 0.576768L1.85125 3.44141C0.42123 4.54224 0.42123 6.69881 1.85125 7.79964L5.57253 10.6643C7.38085 12.0563 10 10.7672 10 8.48517L10 6.37054L20.25 6.37054C20.6642 6.37054 21 6.03475 21 5.62054Z"
                                fill="#A1A2A9"
                            />
                        </svg>
                    </a>
                    <div class="pagination__nums">
                        <a href="#" class="pagination__num txt txt_semibold _is-active">1</a>
                        <a href="#" class="pagination__num txt txt_semibold">2</a>
                        <a href="#" class="pagination__num txt txt_semibold">3</a>
                        <a href="#" class="pagination__num txt txt_semibold">...</a>
                        <a href="#" class="pagination__num txt txt_semibold">28</a>
                    </div>
                    <a href="#" class="pagination__arr pagination__arr_next">
                        <svg
                            width="21"
                            height="12"
                            viewBox="0 0 21 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M21 5.62054C21 5.20633 20.6642 4.87054 20.25 4.87054L10 4.87054L10 2.75588C10 0.473823 7.38084 -0.815274 5.57253 0.576768L1.85125 3.44141C0.42123 4.54224 0.42123 6.69881 1.85125 7.79964L5.57253 10.6643C7.38085 12.0563 10 10.7672 10 8.48517L10 6.37054L20.25 6.37054C20.6642 6.37054 21 6.03475 21 5.62054Z"
                                fill="#A1A2A9"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
