<section class="categories">
    <div class="container">
        <div class="categories__content">
            <h1 class="categories__title h h_h1">Каталог товаров</h1>

            <ul class="categories__cards">
                <li class="categories__column-one">
                    <a href="#" class="categories__card">
                        <div class="categories__card-text">
                            <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                микрофоны
                            </p>
    
                            
                        </div>

                        <figure class="categories__card-image">
                            <img src="./assets/images/sections/categories/image11.png" alt="" />
                        </figure>
                    </a>
                </li>
                <li class="categories__cards-group">
                    <a href="#" class="categories__card categories__card--top --large">
                        <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                            Звуковое оборудование
                        </p>

                        <figure class="categories__card-image">
                            <img src="./assets/images/sections/categories/image22.png" alt="" />
                        </figure>
                    </a>
                    <div class="categories__cards-group-inner">
                        <a href="#" class="categories__card categories__card-center">
                            <div class="categories__card-text">
                                <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                    спецэффекты
                                </p>
                            </div>
                            
    
                            <figure class="categories__card-image">
                                <img src="./assets/images/sections/categories/image33.png" alt="" />
                            </figure>
                        </a>
                        <a href="#" class="categories__card categories__card-center">
                            <div class="categories__card-text">
                                <span class="categories__card-title  txt_24 txt_semibold">
                                    акустические
                                </span>
                                <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                    материалы
                                </p>
                            </div>
                          
    
                            <figure class="categories__card-image">
                                <img src="./assets/images/sections/categories/image44.png" alt="" />
                            </figure>
                        </a>
                    </div>
                    <a href="#" class="categories__card categories__card-bottom --large">
                        <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                            видео - оборудование
                        </p>

                        <figure class="categories__card-image">
                            <img src="./assets/images/sections/categories/image55.png" alt="" />
                        </figure>
                    </a>
                </li>
                <li class="grid-row grid-row_2 categories__column-two">
                    <a href="#" class="categories__card">
                        <div class="categories__card-text">
                            <span class="categories__card-title  txt_24 txt_semibold">
                                интерактивные
                            </span>
                            <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                панели
                            </p>
                        </div>
                      
                        <figure class="categories__card-image">
                            <img src="./assets/images/sections/categories/image66.png" alt="" />
                        </figure>
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</section>
