<section class="categories">
    <div class="container">
        <div class="categories__content">
            <h1 class="categories__title h h_h1">Каталог товаров</h1>

            <ul class="categories__cards">
                <li>
                    <a href="#" class="categories__card">
                        <div class="categories__card-text">
                            <span class="categories__card-subtitle txt_24 txt_semibold"> Световое </span>

                            <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                оборудование
                            </p>
                        </div>

                        <figure class="categories__card-image">
                            <img src="../assets/images/sections/categories/category-image-1.png" alt="" />
                        </figure>
                    </a>
                </li>
                <li class="categories__cards-group">
                    <a href="#" class="categories__card --large">
                        <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                            Звуковое оборудование
                        </p>

                        <figure class="categories__card-image">
                            <img src="../assets/images/sections/categories/category-image-5.png" alt="" />
                        </figure>
                    </a>
                    <a href="#" class="categories__card --large">
                        <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                            видео - оборудование
                        </p>

                        <figure class="categories__card-image">
                            <img src="../assets/images/sections/categories/category-image-6.png" alt="" />
                        </figure>
                    </a>
                </li>
                <li class="grid-row grid-row_2">
                    <a href="#" class="categories__card">
                        <div class="categories__card-text">
                            <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                Конференц-системы
                            </p>
                        </div>

                        <figure class="categories__card-image">
                            <img src="../assets/images/sections/categories/category-image-2.png" alt="" />
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#" class="categories__card">
                        <div class="categories__card-text">
                            <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                механическое оборудование
                            </p>
                        </div>

                        <figure class="categories__card-image">
                            <img src="../assets/images/sections/categories/category-image-4.png" alt="" />
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#" class="categories__card">
                        <div class="categories__card-text">
                            <span class="categories__card-subtitle txt_24 txt_semibold"> рэковые шкафы </span>

                            <p class="categories__card-title btn btn_secondary txt_24 txt_semibold">
                                и кейсы
                            </p>
                        </div>

                        <figure class="categories__card-image">
                            <img src="../assets/images/sections/categories/category-image-3.png" alt="" />
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
