<section class="contacts">
    <div class="contacts__container container">
        <div class="contacts__content">
            <span class="contacts__heading h h_h1">Наши контакты</span>
            <ul class="contacts__list">
                <li class="contacts__list-item">
                    <span class="contacts__subtitle txt txt_20 txt_semibold">Телефон</span>
                    <a href="tel:7900000000" class="contacts__txt txt txt_16">+7 (900) 00 00-00</a>
                </li>
                <li class="contacts__list-item">
                    <span class="contacts__subtitle txt txt_20 txt_semibold">Почта</span>
                    <a href="mailto:forexample@.com" class="contacts__txt txt txt_16">forexample@.com</a>
                </li>
                <li class="contacts__list-item">
                    <span class="contacts__subtitle txt txt_20 txt_semibold">Адрес</span>
                    <span class="contacts__txt txt txt_16">Москва, улица Барклая дом 13 стр. 1</span>
                </li>
            </ul>
        </div>
        <div id="map" class="contacts__map"></div>
    </div>
</section>