<section class="cooperation">
    <div class="container">
        <div class="cooperation__content">
            <div class="cooperation__block">
                <h2 class="cooperation__title h h_h1">долгосрочное  и взаимовыгодное сотрудничество</h2>

                <p class="cooperation__subtext txt_20 txt_semibold">
                    Мы учитываем интересы своих партнёров, сочетая выгодные условия  с всесторонней
                    информационной, технической и индивидуальной консультационное поддержкой.
                </p>

                <div class="cooperation__text-block">
                    <p class="cooperation__description txt_16">
                        Нашими клиентами являются профессиональные музыканты, инсталляционные и прокатные
                        компании, музыкальные школы и училища, государственные и коммерческие организации,
                        телекомпании и радиостанции, театры и концертные залы, клубы, рестораны. И просто
                        люди, увлекающиеся музыкой.
                    </p>

                    <p class="cooperation__description txt_16">
                        Мы сотрудничаем с видными деятелями шоу-бизнеса и индустрии развлечений. Нашими
                        постоянными партнёрами являются многие крупные звукозаписывающие лэйблы, киностудии,
                        репетиционные базы, а также известные музыканты, певцы, артисты, ди-джеи,
                        звукорежиссёры и звукоинженеры.
                    </p>
                </div>
            </div>

            <div class="cooperation__block">
                <div class="cooperation__block-top">
                    <span class="cooperation__block-title h h_h3"> Наши услуги подойдут для: </span>

                    <ul class="cooperation__block-top-list">
                        <li class="cooperation__block-top-item txt_16">Дилеров</li>
                        <li class="cooperation__block-top-item txt_16">Проектировщиков</li>
                        <li class="cooperation__block-top-item txt_16">Дизайнеров</li>
                        <li class="cooperation__block-top-item txt_16">Монтажных бригад</li>
                    </ul>
                </div>

                <figure class="cooperation__block-image">
                    <img src="../assets/images/sections/cooperation/cooperation-image.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</section>
