<section class="detailed">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <a href="#" class="breadcrumbs__link txt txt_16">Каталог</a>
            <a href="#" class="breadcrumbs__link txt txt_16 breadcrumbs__link_chapter"
                >Световое оборудование</a
            >
            <a href="#" class="breadcrumbs__link txt txt_16">Световые приборы</a>
            <span class="breadcrumbs__txt txt txt_16">Involight MH FXWash1912</span>
        </nav>
        <div class="detailed__content">
            <div class="detailed__product">
                <h1 class="detailed__title h h_h1 _mobile-only">Involight MH FXWash1912</h1>

                <span class="detailed__articul txt_20 txt_semibold _mobile-only"> Артикул: 005040 </span>

                <div class="detailed__product-gallery swiper detailed-product-gallery-swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <figure class="detailed__product-gallery-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-gallery-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-gallery-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-gallery-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-gallery-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-gallery-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-gallery-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-gallery-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-gallery-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-gallery-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                    </ul>
                </div>

                <div class="detailed__product-thumbs swiper detailed-product-thumbs-swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <figure class="detailed__product-thumbs-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-thumbs-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-thumbs-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-thumbs-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-thumbs-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-thumbs-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-thumbs-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-thumbs-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__product-thumbs-image">
                                <img
                                    src="./assets/images/sections/detailed/detailed-thumbs-image.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="detailed__info">
                <h1 class="detailed__title h h_h1 _desktop-only">Involight MH FXWash1912</h1>

                <span class="detailed__articul txt_20 txt_semibold _desktop-only"> Артикул: 005040 </span>

                <div data-da=".sticky-menu__content,768,first" class="detailed__block">
                    <span class="detailed__block-price"> 194 400 <sup>₽</sup> </span>

                    <div class="detailed__block-actions">
                        <button class="detailed__block-button btn btn_primary">
                            <span class="txt txt_20 txt_semibold">Добавить в корзину</span>
                        </button>

                        <button class="detailed__block-bookmark">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M21 12C21 15.7497 21 17.6246 20.0451 18.9389C19.7367 19.3634 19.3634 19.7367 18.9389 20.0451C17.6246 21 15.7497 21 12 21C8.25027 21 6.3754 21 5.06107 20.0451C4.6366 19.7367 4.26331 19.3634 3.95491 18.9389C3 17.6246 3 15.7497 3 12V10C3 9.16106 3 8.41596 3.01069 7.75L3.08082 7.75C3.93284 7.75007 4.45182 7.75011 4.8995 7.67921C7.35988 7.28952 9.28952 5.35988 9.67921 2.8995C9.75011 2.45182 9.75007 1.93284 9.75 1.08082L9.75 1.01069C10.416 1 11.1611 1 12 1C15.7497 1 17.6246 1 18.9389 1.95491C19.3634 2.26331 19.7367 2.6366 20.0451 3.06107C21 4.3754 21 6.25027 21 10V12ZM11.25 9C11.25 8.58579 11.5858 8.25 12 8.25C12.4142 8.25 12.75 8.58579 12.75 9V11.25H15C15.4142 11.25 15.75 11.5858 15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H12.75V15C12.75 15.4142 12.4142 15.75 12 15.75C11.5858 15.75 11.25 15.4142 11.25 15V12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H11.25V9Z"
                                    fill="#000001"
                                />
                                <path
                                    d="M4.66485 6.19768C4.35646 6.24652 3.97568 6.24987 3.06534 6.25C3.15974 4.81037 3.39057 3.83783 3.95491 3.06107C4.26331 2.6366 4.6366 2.26331 5.06107 1.95491C5.83783 1.39057 6.81037 1.15974 8.25 1.06534C8.24987 1.97568 8.24652 2.35645 8.19768 2.66485C7.90965 4.48339 6.48339 5.90965 4.66485 6.19768Z"
                                    fill="#000001"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="detailed__block">
                    <div class="detailed__block-exist">
                        <span class="detailed__block-exist-text txt_16">В наличии</span>
                    </div>

                    <div class="detailed__block-actions">
                        <p class="detailed__block-exist-counter txt_20 txt_semibold">
                            На складе:

                            <span class="txt_16">10 шт</span>
                        </p>
                    </div>
                </div>

                <ul class="detailed__accordion" data-accordion="" data-accordion-single="">
                    <li class="detailed__accordion-item">
                        <div data-accordion-item class="detailed__accordion-item-heading">
                            <span class="detailed__accordion-item-title txt_20 txt_semibold">
                                Характеристики
                            </span>

                            <figure class="detailed__accordion-item-icon">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M7 10L11.2929 14.2929C11.6262 14.6262 11.7929 14.7929 12 14.7929C12.2071 14.7929 12.3738 14.6262 12.7071 14.2929L17 10"
                                        stroke="#000001"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <div class="detailed__accordion-item-content" hidden="">
                            <span class="detailed__accordion-item-subtitle txt_16">
                                Светодиодная вращающаяся голова заливного света
                            </span>

                            <ul class="detailed__accordion-item-blocks">
                                <li class="detailed__accordion-item-block">
                                    <ul>
                                        <li> Сигнальный кабель XLR M - XLR F х 1.</li>
                                        <li> Кронштейн для подвеса ("Omega") х 2.</li>
                                        <li> Кабель питания PowerCon.</li>
                                        <li> Количество LED: 19.</li>
                                        <li> LED: 12 Вт RGBW 4-в-1.</li>
                                        <li> Угол раскрытия луча: 4° - 60°.</li>
                                        <li> Цветовая гамма: RGBW.</li>
                                        <li> Освещенность: 55500 Люкс - 12500 Люкс / 1 м.</li>
                                        <li> DMX вход: 3-pin разъем XLR (IN).</li>
                                        <li> DMX выход: 3-pin разъем XLR (OUT).</li>
                                        <li> DMX режим: 21, 23, 35, 78, 92, 97 или 99 каналов.</li>
                                        <li> PAN движение: 540° + 16 бит.</li>
                                        <li> TILT движение: 270° + 16 бит.</li>
                                        <li> Высокочастотный стробоскоп: > 25 Гц.</li>
                                    </ul>
                                </li>

                                <li class="detailed__accordion-item-block">
                                    <ul>
                                        <li> Автономные режимы: Режим Авто, Звуковая активация.</li>
                                        <li>Элементы управления: "Меню", "Вверх", "Вниз", "Ввод".</li>
                                        <li> Дисплей: ЖК-дисплей.</li>
                                        <li> Разъем питания: POWERCON вход/выход.</li>
                                        <li> Материал корпуса: металл, пластик ABS.</li>
                                        <li> Цвет корпуса: черный.</li>
                                        <li> Охлаждение: вентилятор.</li>
                                        <li> Потребляемая мощность: 400 Вт.</li>
                                        <li> Рабочее напряжение: AC 90 - 240 В, 50 / 60 Гц.</li>
                                        <li> Другие свойства: вращающиеся фронтальные линзы.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="detailed__accordion-item">
                        <div data-accordion-item class="detailed__accordion-item-heading">
                            <span class="detailed__accordion-item-title txt_20 txt_semibold"> Описание </span>

                            <figure class="detailed__accordion-item-icon">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M7 10L11.2929 14.2929C11.6262 14.6262 11.7929 14.7929 12 14.7929C12.2071 14.7929 12.3738 14.6262 12.7071 14.2929L17 10"
                                        stroke="#000001"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </figure>
                        </div>

                        <div class="detailed__accordion-item-content" hidden="">
                            <span class="detailed__accordion-item-subtitle txt_16">
                                Светодиодная вращающаяся голова заливного света
                            </span>

                            <ul class="detailed__accordion-item-blocks">
                                <li class="detailed__accordion-item-block">
                                    <ul>
                                        <li> Сигнальный кабель XLR M - XLR F х 1.</li>
                                        <li> Кронштейн для подвеса ("Omega") х 2.</li>
                                        <li> Кабель питания PowerCon.</li>
                                        <li> Количество LED: 19.</li>
                                        <li> LED: 12 Вт RGBW 4-в-1.</li>
                                        <li> Угол раскрытия луча: 4° - 60°.</li>
                                        <li> Цветовая гамма: RGBW.</li>
                                        <li> Освещенность: 55500 Люкс - 12500 Люкс / 1 м.</li>
                                        <li> DMX вход: 3-pin разъем XLR (IN).</li>
                                        <li> DMX выход: 3-pin разъем XLR (OUT).</li>
                                        <li> DMX режим: 21, 23, 35, 78, 92, 97 или 99 каналов.</li>
                                        <li> PAN движение: 540° + 16 бит.</li>
                                        <li> TILT движение: 270° + 16 бит.</li>
                                        <li> Высокочастотный стробоскоп: > 25 Гц.</li>
                                    </ul>
                                </li>

                                <li class="detailed__accordion-item-block">
                                    <ul>
                                        <li> Автономные режимы: Режим Авто, Звуковая активация.</li>
                                        <li>Элементы управления: "Меню", "Вверх", "Вниз", "Ввод".</li>
                                        <li> Дисплей: ЖК-дисплей.</li>
                                        <li> Разъем питания: POWERCON вход/выход.</li>
                                        <li> Материал корпуса: металл, пластик ABS.</li>
                                        <li> Цвет корпуса: черный.</li>
                                        <li> Охлаждение: вентилятор.</li>
                                        <li> Потребляемая мощность: 400 Вт.</li>
                                        <li> Рабочее напряжение: AC 90 - 240 В, 50 / 60 Гц.</li>
                                        <li> Другие свойства: вращающиеся фронтальные линзы.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <div class="detailed__characteristics"></div>
            </div>
        </div>
    </div>
</section>
