<section class="equipment">
    <div class="container">
        <div class="equipment__title h h_h1">Используемое оборудование</div>
        <div class="equipment__wrapper">
            <div class="equipment__block" data-accordion="">
                <div class="equipment__box">
                    <button class="equipment__box-btn" data-accordion-item>
                        <span>Свет</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024"
                                stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="equipment__box-text">
                        <ul class="equipment__box-lists">
                            <li><span>Involight OB200 LED</span> 4 шт</li>
                            <li><span>Involight OB200 LED</span> 2 шт</li>
                            <li><span>Involight MH FXWash1912</span> 1 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>
                            <li><span>Behringer MS16 Monitor Speakers</span> 12 шт</li>
                            <li><span>Behringer MS16 Monitor Speakers</span> 1 шт</li>
                            <li><span>Involight OB200 LED</span> 5 шт</li>
                            <li><span>Involight OB200 LED</span> 10 шт</li>
                        </ul>
                    </div>

                </div>
                <div class="equipment__box">
                    <button class="equipment__box-btn" data-accordion-item>
                        <span>Звук</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024"
                                stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="equipment__box-text">
                        <ul class="equipment__box-lists">
                            <li><span>Involight OB200 LED</span> 2 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>
                            <li><span>Behringer MS16 Monitor Speakers</span> 1 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>

                        </ul>
                    </div>

                </div>
                <div class="equipment__box">
                    <button class="equipment__box-btn" data-accordion-item>
                        <span>Аксессуары</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024"
                                stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="equipment__box-text">
                        <ul class="equipment__box-lists">
                            <li><span>Involight OB200 LED</span> 2 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>
                            <li><span>Behringer MS16 Monitor Speakers</span> 1 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>

                        </ul>
                    </div>

                </div>
                <div class="equipment__box">
                    <button class="equipment__box-btn" data-accordion-item>
                        <span>Другое</span>
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 18.0002L14.2929 12.7074C14.6262 12.374 14.7929 12.2074 14.7929 12.0002C14.7929 11.7931 14.6262 11.6265 14.2929 11.2931L9 6.00024"
                                stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="equipment__box-text">
                        <ul class="equipment__box-lists">
                            <li><span>Involight OB200 LED</span> 2 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>
                            <li><span>Behringer MS16 Monitor Speakers</span> 1 шт</li>
                            <li><span>Involight MH FXWash1912</span> 4 шт</li>

                        </ul>
                    </div>

                </div>
            </div>

            <div class="equipment__aside">
                <div class="equipment__aside-content">
                    <div class="equipment__aside-title">Скидка до 20%<br> на звуковые карты!</div>
                    <div class="equipment__aside-text">Профессиональные карты по выгодным ценам</div>
                </div>
               
                <div class="equipment__aside-image">
                    <img src="./assets/images/sections/portfolio/micro.png" alt="">
                </div>
            </div>
        </div>
</section>