<section class="gallery">
    <div class="container">
        <div class="gallery__title h h_h1">Галерея</div>
        <div class="gallery__wrapper">
            <div class="gallery-swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="gallery__navigation swiper-navigation">
                <button type="button" class="arrow-btn arrow-btn_prev">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
                <button type="button" class="arrow-btn arrow-btn_next">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
            </div> -->
        </div>
    </div>
</section>