<section class="gallery">
    <div class="container">
        <div class="gallery__title h h_h1">Галерея</div>
        <div class="gallery__wrapper">
            <div class="gallery-swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img2.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img1.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery__image">
                            <img src="./assets/images/sections/gallery/img1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>