<section class="hero banner">
    <div class="hero__container container">
        <div class="hero__carousel swiper">
            <div class="hero__carousel-wrapper swiper-wrapper">
                <div class="hero__slide swiper-slide">
                    <div class="banner__text">
                        <span class="banner__heading h h_h1">Наполните сцену яркостью и энергией</span>
                        <p class="banner__description txt txt_24">
                            Продажа мощного сценического оборудования для потрясающих шоу
                        </p>
                        <button type="button" class="banner__btn btn btn_primary">
                            <span class="txt txt_20 txt_semibold">Оставить заявку</span>
                        </button>
                    </div>
                    <div class="banner__image-wrap">
                        <img src="./assets/images/bg/1828042458.webp" alt="" class="banner__image" />
                    </div>
                </div>
                <div class="hero__slide swiper-slide">
                    <div class="banner__text">
                        <span class="banner__heading h h_h1">Наполните сцену яркостью и энергией</span>
                        <p class="banner__description txt txt_24">
                            Продажа мощного сценического оборудования для потрясающих шоу
                        </p>
                        <button type="button" class="banner__btn btn btn_primary">
                            <span class="txt txt_20 txt_semibold">Оставить заявку</span>
                        </button>
                    </div>
                    <div class="banner__image-wrap">
                        <img src="./assets/images/bg/1828042458.webp" alt="" class="banner__image" />
                    </div>
                </div>
                <div class="hero__slide swiper-slide">
                    <div class="banner__text">
                        <span class="banner__heading h h_h1">Наполните сцену яркостью и энергией</span>
                        <p class="banner__description txt txt_24">
                            Продажа мощного сценического оборудования для потрясающих шоу
                        </p>
                        <button type="button" class="banner__btn btn btn_primary">
                            <span class="txt txt_20 txt_semibold">Оставить заявку</span>
                        </button>
                    </div>
                    <div class="banner__image-wrap">
                        <img src="./assets/images/bg/1828042458.webp" alt="" class="banner__image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__carousel-control">
            <div class="hero__carousel-pagination carousel-pagination"></div>
        </div>
    </div>
</section>
