<section class="login login_signup">
    <div class="login__container container">
        <div class="login__content">
            <span class="login__heading h h_h1">Регистрация</span>
            <div class="login__group">
                <span class="login__group-txt txt txt_20 txt_semibold">У вас уже есть аккаунт?</span>
                <a href="#" class="login__group-link link">Войти</a>
            </div>
            <form data-dev action="#" class="login__form form-login">
                <div class="form-login__fields">
                    <div data-hint="Заполните поле" class="form-login__input input">
                        <input
                            data-validate
                            data-required
                            autocomplete="off"
                            type="text"
                            name="form[]"
                            placeholder="Контактное лицо"
                            class="input__field"
                        />
                    </div>
                    <div data-hint="Заполните поле" class="form-login__input input">
                        <input
                            data-validate
                            data-required
                            autocomplete="off"
                            type="email"
                            name="form[]"
                            placeholder="Почта"
                            class="input__field"
                        />
                    </div>
                    <div data-hint="Заполните поле" class="form-login__input form-login__input_fw input">
                        <input
                            data-validate
                            data-required
                            autocomplete="off"
                            type="text"
                            name="form[]"
                            placeholder="ИНН"
                            class="input__field"
                        />
                    </div>
                </div>
                <div class="form-login__actions">
                    <button type="submit" class="form-login__btn btn btn_primary">
                        <span class="txt txt_20 txt_semibold">Зарегистрироваться</span>
                    </button>
                    <p class="form-login__txt">
                        Нажимая на кнопку, Вы принимаете<a href="#" class="txt txt_16"
                            >условия пользовательского соглашения</a
                        >
                    </p>
                </div>
            </form>
        </div>
        <div class="login__bg">
            <img src="./assets/images/bg/22477.webp" alt="" class="login__bg-img" />
        </div>
    </div>
</section>
