<section class="news-d">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <a href="#" class="breadcrumbs__link txt txt_16">Новости</a>
            <span class="breadcrumbs__txt txt txt_16">ТОП-5 вокальных микрофонов</span>
        </nav>
     
    </div>
    <div class="news-d__wrapper">
        <div class="news-d__left"></div>
        <div class="news-d__content">
            <div class="news-d__inner">
                <div class="news-d__sound">
                    <span class="news-d__sound-text txt_16">Звуковое направление</span>
                </div>
                <div class="news-d__date">28.02.2024</div>
            </div>
            <div class="news-d__title h h_h1">ТОП-5 вокальных микрофонов</div>
            <div class="news-d__text">
                Вокальные микрофоны предназначены для усиления голоса выступающего и трансляции его на одно или несколько акустических устройств (колонки, динамики), а также для студийной работы. 
            </div>
        </div>
        <div class="news-d__image">
            <img class="desk" src="./assets/images/sections/news/newsd.png" alt="">
            <img class="mob" src="./assets/images/sections/news/newsmob.png" alt="">
        </div>
    </div>
</section>