<section class="news">
    <div class="news__container container">
        <div class="news__head">
            <span class="news__heading h h_h1">Новости</span>
            <div class="news__slider-navigation slider-navigation">
                <button type="button" class="slider-navigation__arrow arrow-btn arrow-btn_prev">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
                <button type="button" class="slider-navigation__arrow arrow-btn arrow-btn_next">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
            </div>
        </div>
        <div class="news__body">
            <div class="news__slider swiper">
                <ul class="news__slider-wrapper swiper-wrapper">
                    <li class="news__sl-card news-sl-card swiper-slide">
                        <a href="#" class="news-sl-card__inner">
                            <div class="news-sl-card__image-wrap">
                                <img
                                    src="./assets/images/sections/news/01.webp"
                                    alt=""
                                    class="news-sl-card__image"
                                />
                            </div>
                            <div class="news-sl-card__text">
                                <span class="news-sl-card__heading h h_h3"
                                    >Новая серия акустических систем VOLTA MAXIMUM</span
                                >
                                <p class="news-sl-card__description">
                                    Это топовая серия точечных источников VOLTA пришла на смену M-серии,
                                    которая продержалась на рынке более 10 лет и снискала высокую репутацию в
                                    профессиональном сообществе.
                                </p>
                            </div>
                            <div class="news-sl-card__footer">
                                <div class="news-sl-card__info txt txt_16">
                                    <span class="news-sl-card__subtitle">Звуковое направление</span>
                                    <span class="news-sl-card__date">28.02.2024</span>
                                </div>
                                <button type="button" class="news-sl-card__btn btn btn_secondary">
                                    <span class="txt txt_20 txt_semibold">Читать</span>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="news__sl-card news-sl-card swiper-slide">
                        <a href="#" class="news-sl-card__inner">
                            <div class="news-sl-card__image-wrap">
                                <img
                                    src="./assets/images/sections/news/02.webp"
                                    alt=""
                                    class="news-sl-card__image"
                                />
                            </div>
                            <div class="news-sl-card__text">
                                <span class="news-sl-card__heading h h_h3"
                                    >Новая серия акустических систем VOLTA MAXIMUM</span
                                >
                                <p class="news-sl-card__description">
                                    Это топовая серия точечных источников VOLTA пришла на смену M-серии,
                                    которая продержалась на рынке более 10 лет и снискала высокую репутацию в
                                    профессиональном сообществе.
                                </p>
                            </div>
                            <div class="news-sl-card__footer">
                                <div class="news-sl-card__info txt txt_16">
                                    <span class="news-sl-card__subtitle">Новости компании</span>
                                    <span class="news-sl-card__date">28.02.2024</span>
                                </div>
                                <button type="button" class="news-sl-card__btn btn btn_secondary">
                                    <span class="txt txt_20 txt_semibold">Читать</span>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="news__sl-card news-sl-card swiper-slide">
                        <a href="#" class="news-sl-card__inner">
                            <div class="news-sl-card__image-wrap">
                                <img
                                    src="./assets/images/sections/news/01.webp"
                                    alt=""
                                    class="news-sl-card__image"
                                />
                            </div>
                            <div class="news-sl-card__text">
                                <span class="news-sl-card__heading h h_h3"
                                    >Новая серия акустических систем VOLTA MAXIMUM</span
                                >
                                <p class="news-sl-card__description">
                                    Это топовая серия точечных источников VOLTA пришла на смену M-серии,
                                    которая продержалась на рынке более 10 лет и снискала высокую репутацию в
                                    профессиональном сообществе.
                                </p>
                            </div>
                            <div class="news-sl-card__footer">
                                <div class="news-sl-card__info txt txt_16">
                                    <span class="news-sl-card__subtitle">Звуковое направление</span>
                                    <span class="news-sl-card__date">28.02.2024</span>
                                </div>
                                <button type="button" class="news-sl-card__btn btn btn_secondary">
                                    <span class="txt txt_20 txt_semibold">Читать</span>
                                </button>
                            </div>
                        </a>
                    </li>
                    <li class="news__sl-card news-sl-card swiper-slide">
                        <a href="#" class="news-sl-card__inner">
                            <div class="news-sl-card__image-wrap">
                                <img
                                    src="./assets/images/sections/news/02.webp"
                                    alt=""
                                    class="news-sl-card__image"
                                />
                            </div>
                            <div class="news-sl-card__text">
                                <span class="news-sl-card__heading h h_h3"
                                    >Новая серия акустических систем VOLTA MAXIMUM</span
                                >
                                <p class="news-sl-card__description">
                                    Это топовая серия точечных источников VOLTA пришла на смену M-серии,
                                    которая продержалась на рынке более 10 лет и снискала высокую репутацию в
                                    профессиональном сообществе.
                                </p>
                            </div>
                            <div class="news-sl-card__footer">
                                <div class="news-sl-card__info txt txt_16">
                                    <span class="news-sl-card__subtitle">Новости компании</span>
                                    <span class="news-sl-card__date">28.02.2024</span>
                                </div>
                                <button type="button" class="news-sl-card__btn btn btn_secondary">
                                    <span class="txt txt_20 txt_semibold">Читать</span>
                                </button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="news__slider-pagination slider-pagination"></div>
        </div>
    </div>
</section>
