<section class="news-c">
    <div class="container">
        <div class="news-c__wrapper">
            <p>
                Микрофоны производятся во множестве вариантов исполнения, отличаясь по техническим характеристикам, функционалу, чувствительности,
                внешнему виду и другим особенностям. Рассмотрим наиболее популярные из них.
            </p>
            <h3 class="news-c__title">1. SHURE BETA 58A</h3>
            <p>
                Эта суперкардиоидная модель подходит для живых выступлений (концертов, презентаций, конференций, интервью и пр.) и студийной работы, в
                том числе для записи телевизионных программ, видеороликов, прочего контента.
            </p>
            <p>
                Микрофон SHURE BETA 58A — динамическая высокопроизводительная модель с подключением кабеля через разъем XLR. Считается классической,
                поскольку используется большим количеством музыкальных исполнителей, цирковых и эстрадных артистов, ведущих шоу-программ и пр.
            </p>
            <div class="news-c__image">
                <img src="./assets/images/sections/news/micro.png" alt="" />
            </div>
            <strong>Основные преимущества:</strong>
            <ul>
                <li>прочность конструкции (решетка из закаленной стали, противоударное крепление);</li>
                <li>минимум механических шумов благодаря усовершенствованному пневматическому амортизатору;</li>
                <li>изоляция от посторонних источников звука;</li>
                <li>контроль эффекта близости;</li>
                <li>улучшенные частотные характеристики, оптимизированные для певческой деятельности;</li>
                <li>поп-фильтр для дополнительной защиты от помех</li>
            </ul>
            <div class="news-c__block">
                <svg class="news-c__block-left" viewBox="0 0 68 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="68" y1="11" y2="11" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="56" y1="27" x2="-8.74227e-08" y2="27" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="46" y1="43" x2="-8.74227e-08" y2="43" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="62" y1="59" x2="5.33183e-05" y2="59" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="34" y1="75" x2="-8.74227e-08" y2="75" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="29" y1="91" x2="3.04302e-05" y2="91" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="40" y1="107" x2="3.80595e-05" y2="107" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="51" y1="123" x2="4.56889e-05" y2="123" stroke="#A1A2A9" stroke-width="2" />
                </svg>
                <svg class="news-c__block-bottom" viewBox="0 0 351 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="34" x2="-1.48619e-06" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="16" y1="-4.37114e-08" x2="16" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="32" y1="12" x2="32" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="48" y1="22" x2="48" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="64" y1="6" x2="64" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="80" y1="34" x2="80" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="96" y1="39" x2="96" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="112" y1="28" x2="112" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="128" y1="22" x2="128" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="144" y1="17" x2="144" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="160" y1="6" x2="160" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="176" y1="28" x2="176" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="192" y1="28" x2="192" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="208" y1="6" x2="208" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="224" y1="-4.37114e-08" x2="224" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="240" y1="34" x2="240" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="256" y1="12" x2="256" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="272" y1="39" x2="272" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="288" y1="22" x2="288" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="304" y1="28" x2="304" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="320" y1="6" x2="320" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="336" y1="28" x2="336" y2="68" stroke="#A1A2A9" stroke-width="2" />
                </svg>
                <p>
                    Модель отличается продуманной эргономикой, выполнена в современном дизайне. Благодаря небольшому весу (280 г) микрофон не вызывает
                    дискомфорта даже при длительном держании в руке.
                </p>
            </div>
            <h3 class="news-c__title">2. SHURE SM58LCE</h3>
            <p>
                Проводная модель динамического типа может использоваться для основного и бэк-вокала на концертах, записи профессиональных вокальных
                партий в студиях. Микрофон подойдет для озвучивания публичных речевых выступлений, а также для решения иных задач, связанных с
                необходимостью усиления и трансляции звука (в том числе исходящего от акустических инструментов).
            </p>
            <div class="news-c__inner">
                <div class="news-c-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/sections/news/micro2.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/images/sections/news/micro2.png" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/images/sections/news/micro2.png" alt="" />
                        </div>
                    </div>
                </div>

                <div class="news-c-pagination swiper-pagination slider-pagination"></div>
                <div class="news-c__navigation swiper-navigation _desktop-only">
                    <button type="button" class="arrow-btn arrow-btn_prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                                fill="#000001"
                            />
                        </svg>
                    </button>
                    <button type="button" class="arrow-btn arrow-btn_next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                                fill="#000001"
                            />
                        </svg>
                    </button>
                </div>
            </div>
            <strong>Особенности SHURE SM58LCE:</strong>
            <ul>
                <li>интегрированный переключатель режимов с возможностью фиксации положения «включен»;</li>
                <li>
                    минимизация уровня механических шумов с помощью встроенного демпфера капсюля (это особенно актуально при сильной вибрации сцены
                    или использовании микрофона в руках);
                </li>
                <li>высокий уровень выходного сигнала с эффективным подавлением обратной связи;</li>
                <li>защита звукового потока от ветра, дыхания и иных аналогичных шумов.</li>
            </ul>
            <p>
                Микрофон обеспечивает четкое, живое, насыщенное звучание. Его частотные характеристики подходят под любые типы голоса. Благодаря этому
                вокал звучит максимально естественно. Встроенный поп-фильтр препятствует проникновению влаги и устраняет шлепающие, свистящие и прочие
                нежелательные звуки, которые могут присутствовать в человеческой речи.
            </p>
            <div class="news-c__block">
                <svg class="news-c__block-left" viewBox="0 0 68 132" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="68" y1="11" y2="11" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="56" y1="27" x2="-8.74227e-08" y2="27" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="46" y1="43" x2="-8.74227e-08" y2="43" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="62" y1="59" x2="5.33183e-05" y2="59" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="34" y1="75" x2="-8.74227e-08" y2="75" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="29" y1="91" x2="3.04302e-05" y2="91" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="40" y1="107" x2="3.80595e-05" y2="107" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="51" y1="123" x2="4.56889e-05" y2="123" stroke="#A1A2A9" stroke-width="2" />
                </svg>
                <svg class="news-c__block-bottom" viewBox="0 0 351 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="34" x2="-1.48619e-06" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="16" y1="-4.37114e-08" x2="16" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="32" y1="12" x2="32" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="48" y1="22" x2="48" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="64" y1="6" x2="64" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="80" y1="34" x2="80" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="96" y1="39" x2="96" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="112" y1="28" x2="112" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="128" y1="22" x2="128" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="144" y1="17" x2="144" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="160" y1="6" x2="160" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="176" y1="28" x2="176" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="192" y1="28" x2="192" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="208" y1="6" x2="208" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="224" y1="-4.37114e-08" x2="224" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="240" y1="34" x2="240" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="256" y1="12" x2="256" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="272" y1="39" x2="272" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="288" y1="22" x2="288" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="304" y1="28" x2="304" y2="68" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="320" y1="6" x2="320" y2="67.9999" stroke="#A1A2A9" stroke-width="2" />
                    <line x1="336" y1="28" x2="336" y2="68" stroke="#A1A2A9" stroke-width="2" />
                </svg>

                <p>
                    Модель отличается продуманной эргономикой, выполнена в современном дизайне. Благодаря небольшому весу (280 г) микрофон не вызывает
                    дискомфорта даже при длительном держании в руке.
                </p>
            </div>
        </div>
    </div>
</section>
