<section class="places">
    <div class="places__container container">
        <div class="places__head">
            <span class="places__heading h h_h1">Объекты</span>
        </div>
        <div class="places__carousel">
            <div class="places__slider swiper">
                <ul class="places__slider-wrapper swiper-wrapper">
                    <li class="places__slide slide-places swiper-slide">
                        <a href="#" class="slide-places__inner">
                            <div class="slide-places__image-wrap">
                                <img
                                    src="./assets/images/sections/places/01.webp"
                                    alt=""
                                    class="slide-places__image"
                                />
                            </div>
                            <div class="slide-places__content">
                                <span class="slide-places__heading h h_h3"
                                    >Концертный зал на малой Арбатской</span
                                >
                                <div class="slide-places__group">
                                    <span class="slide-places__txt txt txt_20 txt_semibold">г. Москва</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="places__slide slide-places swiper-slide">
                        <a href="#" class="slide-places__inner">
                            <div class="slide-places__image-wrap">
                                <img
                                    src="./assets/images/sections/places/02.webp"
                                    alt=""
                                    class="slide-places__image"
                                />
                            </div>
                            <div class="slide-places__content">
                                <span class="slide-places__heading h h_h3"
                                    >Концертный зал на малой Арбатской</span
                                >
                                <div class="slide-places__group">
                                    <span class="slide-places__txt txt txt_20 txt_semibold">г. Москва</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="places__slide slide-places swiper-slide">
                        <a href="#" class="slide-places__inner">
                            <div class="slide-places__image-wrap">
                                <img
                                    src="./assets/images/sections/places/03.webp"
                                    alt=""
                                    class="slide-places__image"
                                />
                            </div>
                            <div class="slide-places__content">
                                <span class="slide-places__heading h h_h3"
                                    >Концертный зал на малой Арбатской</span
                                >
                                <div class="slide-places__group">
                                    <span class="slide-places__txt txt txt_20 txt_semibold">г. Москва</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="places__slide slide-places swiper-slide">
                        <a href="#" class="slide-places__inner">
                            <div class="slide-places__image-wrap">
                                <img
                                    src="./assets/images/sections/places/04.webp"
                                    alt=""
                                    class="slide-places__image"
                                />
                            </div>
                            <div class="slide-places__content">
                                <span class="slide-places__heading h h_h3"
                                    >Концертный зал на малой Арбатской</span
                                >
                                <div class="slide-places__group">
                                    <span class="slide-places__txt txt txt_20 txt_semibold">г. Москва</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="places__slide slide-places swiper-slide">
                        <a href="#" class="slide-places__inner">
                            <div class="slide-places__image-wrap">
                                <img
                                    src="./assets/images/sections/places/05.webp"
                                    alt=""
                                    class="slide-places__image"
                                />
                            </div>
                            <div class="slide-places__content">
                                <span class="slide-places__heading h h_h3"
                                    >Концертный зал на малой Арбатской</span
                                >
                                <div class="slide-places__group">
                                    <span class="slide-places__txt txt txt_20 txt_semibold">г. Москва</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div data-da=".places__head,768,last" class="places__slider-navigation slider-navigation">
                <button type="button" class="slider-navigation__arrow arrow-btn arrow-btn_prev">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
                <button type="button" class="slider-navigation__arrow arrow-btn arrow-btn_next">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
