<section class="portfolio">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <a href="#" class="breadcrumbs__link txt txt_16">Портфолио</a>
            <span class="breadcrumbs__txt txt txt_16">кинотеатр на малой Арбатской</span>
        </nav>
        <div class="portfolio__wrapper">
            <div class="portfolio__block">
                <div class="portfolio__content">
                    <div class="portfolio__place">Театры и дома культуры</div>
                    <div class="portfolio__title h h_h1 desk">кинотеатр на малой Арбатской</div>
                    <div class="portfolio__text desk">Дом культуры используется для проведения различных мероприятий, таких как концерты, выставки, спектакли и т.д. Для создания особой атмосферы и привлечения внимания к основным элементам декора и сцены, требуется постановочное освещение.</div>
                </div>
                <div class="portfolio__image">
                    <img class="desk" src="./assets/images/sections/portfolio/portfolio1.png" alt="">
                    <img class="mob" src="./assets/images/sections/portfolio/portfmob.png" alt="">
                </div>
                <div class="portfolio__title h h_h1 mob">кинотеатр на малой Арбатской</div>
                <div class="portfolio__text mob">Дом культуры используется для проведения различных мероприятий, таких как концерты, выставки, спектакли и т.д. Для создания особой атмосферы и привлечения внимания к основным элементам декора и сцены, требуется постановочное освещение.</div>
            </div>
        </div>
    </div>
</section>