<section class="portfolio-m">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <span class="breadcrumbs__txt txt txt_16">Портфолио</span>
        </nav>
        <div class="portfolio-m__head">
            <span class="portfolio-m__heading h h_h1">Портфолио</span>
            <div data-da=".portfolio-m__head,768,last" class="portfolio-m__slider-navigation slider-navigation _desktop-only">
                <button type="button" class="slider-navigation__arrow arrow-btn arrow-btn_prev">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001" />
                    </svg>
                </button>
                <button type="button" class="slider-navigation__arrow arrow-btn arrow-btn_next">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M22 11.6205C22 11.2063 21.6642 10.8705 21.25 10.8705L11 10.8705L11 8.75588C11 6.47382 8.38084 5.18473 6.57253 6.57677L2.85125 9.44141C1.42123 10.5422 1.42123 12.6988 2.85125 13.7996L6.57253 16.6643C8.38085 18.0563 11 16.7672 11 14.4852L11 12.3705L21.25 12.3705C21.6642 12.3705 22 12.0348 22 11.6205Z"
                            fill="#000001" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="portfolio-m__wrapper">
            <div class="portfolio-m-swiper swiper">
                <div class="portfolio-m-swiper__wrapper swiper-wrapper">
                    <div class="portfolio-m__slide swiper-slide">
                        <a href="#" class="portfolio-m__box">
                            <div class="portfolio-m__box-desk">
                                <div class="portfolio-m__box-desk-image">
                                    <img src="./assets/images/sections/portfolio/bg.png" alt="">
                                </div>
                                <div class="portfolio-m__box-desk-content">
                                    <div class="portfolio-m__box-desk-span">Театры и дома культуры</div>
                                    <div class="portfolio-m__box-desk-title">кинотеатр на малой Арбатской</div>
                                    <div class="portfolio-m__box-desk-text">Дом культуры используется для проведения
                                        различных мероприятий, таких как концерты, выставки, спектакли и т.д. Для
                                        создания особой атмосферы и привлечения внимания к основным элементам декора и
                                        сцены, требуется постановочное освещение.</div>
                                    <div class="portfolio-m__box-desk-button">Подробнее</div>
                                </div>
                            </div>
                            <div class="portfolio-m__box-mob">
                                <div class="portfolio-m__box-mob-span">
                                    Театры и дома культуры
                                </div>
                                <div class="portfolio-m__box-mob-title">
                                    кинотеатр на малой 
                                    Арбатской
                                </div>
                                <div class="portfolio-m__box-mob-image">
                                    <img src="./assets/images/sections/portfolio/portfmob.png" alt="">
                                </div>
                                <div class="portfolio-m__box-mob-text">
                                    Дом культуры используется для проведения различных мероприятий, таких как концерты, выставки, спектакли и т.д. Для создания особой атмосферы и привлечения внимания к основным элементам декора и сцены, требуется постановочное освещение.
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-m__slide swiper-slide">
                        <a href="#" class="portfolio-m__box">
                            <div class="portfolio-m__box-desk">
                                <div class="portfolio-m__box-desk-image">
                                    <img src="./assets/images/sections/portfolio/bg.png" alt="">
                                </div>
                                <div class="portfolio-m__box-desk-content">
                                    <div class="portfolio-m__box-desk-span">Театры и дома культуры</div>
                                    <div class="portfolio-m__box-desk-title">кинотеатр на малой Арбатской</div>
                                    <div class="portfolio-m__box-desk-text">Дом культуры используется для проведения
                                        различных мероприятий, таких как концерты, выставки, спектакли и т.д. Для
                                        создания особой атмосферы и привлечения внимания к основным элементам декора и
                                        сцены, требуется постановочное освещение.</div>
                                    <div class="portfolio-m__box-desk-button">Подробнее</div>
                                </div>
                            </div>
                            <div class="portfolio-m__box-mob">
                                <div class="portfolio-m__box-mob-span">
                                    Театры и дома культуры
                                </div>
                                <div class="portfolio-m__box-mob-title">
                                    кинотеатр на малой 
                                    Арбатской
                                </div>
                                <div class="portfolio-m__box-mob-image">
                                    <img src="./assets/images/sections/portfolio/portfmob.png" alt="">
                                </div>
                                <div class="portfolio-m__box-mob-text">
                                    Дом культуры используется для проведения различных мероприятий, таких как концерты, выставки, спектакли и т.д. Для создания особой атмосферы и привлечения внимания к основным элементам декора и сцены, требуется постановочное освещение.
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="portfolio-m__carousel-pagination slider-pagination"></div>
    </div>
</section>