<section class="portfolio-a">
    <div class="container">
        <div class="portfolio-a__wrapper">
            <div class="portfolio-a__content">
                <div class="portfolio-a__title h h_h1">О проекте</div>
                <p>Внедренная система постановочного освещения помогла значительно улучшить эффекты и атмосферу
                    мероприятий, проводимых в доме культуры, а также обеспечить отличный вид из зала для зрителей.
                </p>
                <strong>Работа нашей команды:
                </strong>
                <ul>
                    <li>Разработка технического решения</li>
                    <li>Поставка профессионального светового оборудования</li>
                    <li>Монтажные и пуско-наладочные работы</li>
                    <li>Обучение сотрудников дома культуры</li>
                    <li>Сопровождение</li>
                </ul>
                <p>Используемое в проекте световое оборудование: прожекторы типа PAR, поворотные головы WASH, поворотные
                    головы SPOT, театральные прожекторы с линзой Френеля, пульт управления, комплект коммутации</p>
            </div>
            <div class="portfolio-a__block">
                <div class="portfolio-a__block-content">
                    <div class="portfolio-a__block-title h h_h2">Поможем с выбором!</div>
                    <div class="portfolio-a__block-text">Оставьте заявку и мы свяжемся c вами в ближайшее время, для
                        подбора походящего оборудования</div>
                    <button type="button" class="portfolio-a__block-btn btn btn_primary">
                        <span class="txt txt_20 txt_semibold">Оставить заявку</span>
                    </button>
                </div>

                <div class="portfolio-a__block-image">
                    <img src="./assets/images/sections/portfolio/port1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>