<section class="request">
    <div class="container">
        <div class="request__content">
            <div class="request__info">
                <h2 class="request__title h h_h1">Оставьте заявку</h2>

                <form data-dev action="#" class="request__form">
                    <div class="request__form-fields">
                        <label data-hint="Заполните поле" class="input">
                            <input
                                data-validate
                                data-required
                                autocomplete="off"
                                type="text"
                                name="form[]"
                                placeholder="Имя"
                                class="input__field"
                            />
                        </label>

                        <label data-hint="Заполните поле" class="input">
                            <input
                                data-tel-mask
                                data-validate
                                data-required
                                autocomplete="off"
                                type="tel"
                                name="form[]"
                                placeholder="Телефон"
                                class="input__field"
                            />
                        </label>
                    </div>

                    <p class="request__form-description txt_14 txt_semibold">
                        Нажимая на кнопку, Вы принимаете условия пользовательского соглашения
                    </p>

                    <button type="submit" class="request__form-button btn btn_primary">
                        <span class="txt txt_20 txt_semibold">Заказать звонок</span>
                    </button>
                </form>
            </div>

            <figure class="request__image">
                <img src="../assets/images/sections/reqeust/request-image.png" alt="" />
            </figure>
        </div>
    </div>
</section>
