<section class="services-main">
    <div class="container">
        <h2 class="services-main__title h h_2 mob">Комплексное оснащение объектов "под ключ"</h2>
        <div class="services-main__wrapper">
            <div class="services-main__content">
                <h2 class="services-main__title h h_2 desk">Комплексное оснащение объектов "под ключ"</h2>
                <div class="services-main__text">Берем на себя все работы по подбору и просчету оборудования, анализу и проектированию объекта. Произведем все работы и обучим ваш персонал.  Мы выполняем оснащение объектов под ключ для следующих объектов: кафе, бары и рестораны, театры и ДК, конференц-залы и переговорные, школы, университеты и другие образовательные учреждения, клубы и дискотеки, спортивные объекты, концерты, парки и скверы.</div>
                <button class="services-main__btn btn btn_primary">
                    <span class="txt txt_20 txt_semibold">Оставить заявку</span>
                </button>
            </div>
            <div class="services-main__image">
                <img class="desk" src="./assets/images/sections/services-main/bg1.png" alt="">
                <img class="mob" src="./assets/images/sections/services-main/bg2.png" alt="">
            </div>
        </div>
    </div>
</section>