<section class="services-p">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__link txt txt_16">Главная</a>
            <span class="breadcrumbs__txt txt txt_16">Услуги</span>
        </nav>
        <h2 class="services-p__title h h_h1">Услуги</h2>
        <div class="services-p__wrapper">
            <a href="#" class="services-box">
                    <div class="services-box__content">
                        <div class="services-box__block">
                            <div class="services-box__title">Помощь в подборе оптимального комплекта оборудования</div>
                            <div class="services-box__text">Бесплатно поможем подобрать нужное оборудование под Ваши цели и бюджет, оформим заказ и доставим его в кратчайшее время.</div>
                        </div>
                        <div class="services-box__image">
                            <img src="./assets/images/sections/services-p/services1.png" alt="">
                        </div>
                    </div>
                    <button  class="services-box__link">
                        <span>Узнать больше об услуге</span>
                        <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                    </button>
            </a>
            <a href="#" class="services-box">
                <div class="services-box__content">
                    <div class="services-box__block">
                        <div class="services-box__title">Обслуживание</div>
                        <div class="services-box__text">Мы предоставляем гарантийное и пост-гарантийное обслуживание. Вы можете быть уверены, что не останетесь без светового и звукового сопровождения в важный момент.</div>
                    </div>
                    <div class="services-box__image">
                        <img src="./assets/images/sections/services-p/services2.png" alt="">
                    </div>
                </div>
                <button  class="services-box__link">
                    <span>Узнать больше об услуге</span>
                    <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </button>
            </a>
            <a href="#" class="services-box">
                <div class="services-box__content">
                    <div class="services-box__block">
                        <div class="services-box__title">Комплексное оснащение объектов "под ключ"</div>
                        <div class="services-box__text">Берем на себя все работы по подбору и просчету оборудования, анализу и проектированию объекта. Произведем все работы и обучим ваш персонал.  Мы выполняем оснащение объектов под ключ для следующих объектов: кафе, бары и рестораны, театры и ДК, конференц-залы и переговорные, школы, университеты и другие образовательные учреждения, клубы и дискотеки, спортивные объекты, концерты, парки и скверы.</div>
                    </div>
                    <div class="services-box__image">
                        <img src="./assets/images/sections/services-p/services3.png" alt="">
                    </div>
                </div>
                <button  class="services-box__link">
                    <span>Узнать больше об услуге</span>
                    <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </button>
            </a>
            <a href="#" class="services-box">
                <div class="services-box__content">
                    <div class="services-box__block">
                        <div class="services-box__title">Помощь в подборе оптимального комплекта оборудования</div>
                        <div class="services-box__text">Бесплатно поможем подобрать нужное оборудование под Ваши цели и бюджет, оформим заказ и доставим его в кратчайшее время.</div>
                    </div>
                    <div class="services-box__image">
                        <img src="./assets/images/sections/services-p/services1.png" alt="">
                    </div>
                </div>
                <button  class="services-box__link">
                    <span>Узнать больше об услуге</span>
                    <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </button>
        </a>
        <a href="#" class="services-box">
            <div class="services-box__content">
                <div class="services-box__block">
                    <div class="services-box__title">Обслуживание</div>
                    <div class="services-box__text">Мы предоставляем гарантийное и пост-гарантийное обслуживание. Вы можете быть уверены, что не останетесь без светового и звукового сопровождения в важный момент.</div>
                </div>
                <div class="services-box__image">
                    <img src="./assets/images/sections/services-p/services2.png" alt="">
                </div>
            </div>
            <button  class="services-box__link">
                <span>Узнать больше об услуге</span>
                <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
            </button>
        </a>
        <a href="#" class="services-box">
            <div class="services-box__content">
                <div class="services-box__block">
                    <div class="services-box__title">Комплексное оснащение объектов "под ключ"</div>
                    <div class="services-box__text">Берем на себя все работы по подбору и просчету оборудования, анализу и проектированию объекта. Произведем все работы и обучим ваш персонал.  Мы выполняем оснащение объектов под ключ для следующих объектов: кафе, бары и рестораны, театры и ДК, конференц-залы и переговорные, школы, университеты и другие образовательные учреждения, клубы и дискотеки, спортивные объекты, концерты, парки и скверы.</div>
                </div>
                <div class="services-box__image">
                    <img src="./assets/images/sections/services-p/services3.png" alt="">
                </div>
            </div>
            <button  class="services-box__link">
                <span>Узнать больше об услуге</span>
                <svg  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6" stroke="#000001" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
            </button>
        </a>
        </div>
    </div>
</section>