<section class="services">
    <div class="services__container container">
        <div class="services__head">
            <span class="services-section__heading h h_h1">Услуги</span>
            <a data-da=".services__body,768,last" href="#" class="services-section__btn btn btn_primary">
                <span class="txt txt_20 txt_semibold">Все услуги</span>
            </a>
        </div>
        <div class="services__body">
            <div class="services__cards">
                <a href="#" class="services__card service-card">
                    <div class="service-card__content">
                        <span class="service-card__subtitle txt txt_16">
                            Звук
                        </span>
                        <div class="service-card__heading-wrap">
                            <span class="service-card__heading h h_h3">Акустический сервис</span>
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 22.5L16.2929 13.2071C16.6262 12.8738 16.7929 12.7071 16.7929 12.5C16.7929 12.2929 16.6262 12.1262 16.2929 11.7929L7 2.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="service-card__description">
                            <div class="service-card__text txt txt_16">Акустический сервис включает в себя целый круг специализированных инженерных задач, связанных с акустической экспертизой и проектированием при строительстве новых и реконструкции старых объектов.</div>
                        </div>
                    </div>
                    <div class="service-card__bg">
                        <img src="./assets/images/sections/services/01.webp" alt="" class="service-card__bg-img">
                    </div>
                </a>
                <a href="#" class="services__card service-card">
                    <div class="service-card__content">
                        <span class="service-card__subtitle txt txt_16">
                            Звук
                        </span>
                        <div class="service-card__heading-wrap">
                            <span class="service-card__heading h h_h3">Акустический сервис</span>
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 22.5L16.2929 13.2071C16.6262 12.8738 16.7929 12.7071 16.7929 12.5C16.7929 12.2929 16.6262 12.1262 16.2929 11.7929L7 2.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="service-card__description">
                            <div class="service-card__text txt txt_16">Акустический сервис включает в себя целый круг специализированных инженерных задач, связанных с акустической экспертизой и проектированием при строительстве новых и реконструкции старых объектов.</div>
                        </div>
                    </div>
                    <div class="service-card__bg">
                        <img src="./assets/images/sections/services/01.webp" alt="" class="service-card__bg-img">
                    </div>
                </a>
                <a href="#" class="services__card service-card">
                    <div class="service-card__content">
                        <span class="service-card__subtitle txt txt_16">
                            Звук
                        </span>
                        <div class="service-card__heading-wrap">
                            <span class="service-card__heading h h_h3">разработка и монтаж Звукоизоляции</span>
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 22.5L16.2929 13.2071C16.6262 12.8738 16.7929 12.7071 16.7929 12.5C16.7929 12.2929 16.6262 12.1262 16.2929 11.7929L7 2.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="service-card__description">
                            <div class="service-card__text txt txt_16">Акустический сервис включает в себя целый круг специализированных инженерных задач, связанных с акустической экспертизой и проектированием при строительстве новых и реконструкции старых объектов.</div>
                        </div>
                    </div>
                    <div class="service-card__bg">
                        <img src="./assets/images/sections/services/02.webp" alt="" class="service-card__bg-img">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>