<!-- заявка отправлена -->
<div id="requestSentModal" aria-hidden="true" class="modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <div class="modal__inner">
                    <button data-close type="button" class="modal__close">
                        <img src="./assets/images/icons/cross-thin.svg" alt="" class="modal__close-icon" />
                    </button>
                    <span class="modal__heading h"
                        >Спасибо, <br />
                        что оставили заявку!</span
                    >
                    <p class="modal__text txt txt_16">Наш менеджер свяжется с Вами в ближайшее время</p>
                    <a href="#" class="modal__btn btn btn_primary">
                        <span class="txt txt_20 txt_semibold">На главную</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- заказ оформлен --->
<div id="orderMadeModal" aria-hidden="true" class="modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <div class="modal__inner">
                    <button data-close type="button" class="modal__close">
                        <img src="./assets/images/icons/cross-thin.svg" alt="" class="modal__close-icon" />
                    </button>
                    <span class="modal__heading h">Ваш заказ оформлен</span>
                    <p class="modal__text txt txt_16">Наш менеджер свяжется с Вами в ближайшее время</p>
                    <a href="#" class="modal__btn btn btn_primary">
                        <span class="txt txt_20 txt_semibold">В личный кабинет</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
