<!-- заявка отправлена -->
<div id="requestSent" aria-hidden="true" class="modal request-sent-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <div class="request-sent-modal__inner">
                    <button data-close type="button" class="modal__close">
                        <img src="./assets/images/icons/cross-thin.svg" alt="" class="modal__close-icon" />
                    </button>
                    <span class="request-sent-modal__heading h"
                        >Спасибо, <br />
                        что оставили заявку!</span
                    >
                    <p class="request-sent-modal__text txt txt_16">
                        Наш менеджер свяжется с Вами в ближайшее время
                    </p>
                    <a href="#" class="request-sent-modal__btn btn btn_primary">
                        <span class="txt txt_20 txt_semibold">На главную</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
