@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy_medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}