// --------------------------------- mixins ---------------------------------

@import './mixins';

// -------------------------------- variables -------------------------------

// colors
$white: #ffffff;
$black: #000000;
$gray: #efefef;
$grayTxt: #a1a2a9;
$red: #f40000ff;


// ---------------------------------- fonts ---------------------------------

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

// local fonts
@import './fonts';

// ------------------------------- base styles ------------------------------

html,
body {
    overflow-x: clip;
}


// base scss file
@import './set';

// body
body {
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    .loaded & {
    }
}

// main
main {
    position: relative;
    flex: 1 1 auto;

    .wrapper & {
        margin-top: 7.8rem;
    }
}

// wrapper
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    height: 100%;
}

._desktop-only {
    @media (max-width: 48em) {
        display: none;
    }
}
._mobile-only {
    @media (min-width: 48em) {
        display: none;
    }
}

._line-through {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 1.2rem;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: $grayTxt;
        transform: rotate(9deg);
    }
}

// swiper fade fix
.swiper-fade {
    .swiper-slide {
        opacity: 0 !important;
        visibility: hidden !important;
        transition:
            opacity 0.8s ease,
            visibility 0.8s ease;
        &.swiper-slide-active {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }
}

[data-showmore-button] {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    transition: 0.3s margin-top ease;

    @include small-tablet {
        gap: 1.2rem;
    }

    ._showmore-active & {
        margin-top: 1.6rem;
    }

    span {
        font-weight: 600;
        font-size: 2rem;
        line-height: 140%;

        @include small-tablet {
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 121%;
        }

        &:last-child {
            display: none;
        }
        ._showmore-active & {
            display: none;
            &:last-child {
                display: block;
            }
        }
    }

    .arrow-icon {
        @include sizes(2.4rem, 2.4rem);
        transition: 0.3s transform ease;

        @include small-tablet {
            @include sizes(4.8rem, 4.8rem);
        }

        ._showmore-active & {
            transform: rotate(-180deg);
        }
    }
}

// --------------------------------------------------------------------------

// header / footer
@import './sections/header';
@import './sections/footer';

// ui
@import '../ui/styles/ui.scss';

// --------------------------------------------------------------------------

@import './dev/vzmsk1.scss';
@import './dev/markusDM.scss';
@import './dev/ukik0.scss';
@import './dev/kie6er.scss';

.products-list-header {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 4rem;
    transform: translateY(100%);

    // .products-list-header__inner

    &__inner {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        column-gap: 6rem;
        row-gap: 7.3rem;
        background-color: #ffffff;
        box-shadow: 1.2rem 2rem 11rem rgba(74, 75, 99, 0.15);
        border-radius: 1.5rem;
    }

    // .products-list-header__group

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }

    // .products-list-header__heading

    &__heading {
        padding-bottom: 0.8rem;
        font-size: 2rem;
        line-height: 150%;
        text-transform: uppercase;
        width: 100%;
        border-bottom: 1px solid rgba(150, 150, 150, 0.6);
    }

    // .products-list-header__list

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
    }

    // .products-list-header__list-item

    &__list-item {
    }

    // .products-list-header__list-link

    &__list-link {
        line-height: 160%;
        color: #636163;
    }
}

.services-list-header {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 4rem;
    transform: translateY(100%);

    // .services-list-header__inner

    &__inner {
        padding: 4rem;
        background-color: #ffffff;
        box-shadow: 1.2rem 2rem 11rem rgba(74, 75, 99, 0.15);
        border-radius: 1.5rem;
    }

    // .services-list-header__list

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
    }

    // .services-list-header__list-item

    &__list-item {
    }

    // .services-list-header__list-link

    &__list-link {
        font-size: 2rem;
        line-height: 150%;
        text-transform: uppercase;
        color: #636163;
    }
}
